<!-- Ankle Breakers -->
<div id="ChellaMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/1esS53ES0QjRAkK0nJ/giphy.gif" style="width:100%">
  </div>
</div>
<div id="TurbineMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/BoXgXDpPei3UyFs2x5/giphy.gif" style="width:100%">
  </div>
</div>
<div id="SmoothCriminalMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/9r8JSkmYk74n3EUAxZ/giphy.gif" style="width:100%">
  </div>
</div>
<div id="SplashHouseMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/tZB5uJ4m4jdf2KqQzv/giphy.gif" style="width:100%">
  </div>
</div>
<div id="SuzyQMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/X74UHjJf2HIbqYB81I/giphy.gif" style="width:100%">
  </div>
</div>
<div id="SwangMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/ONG9SJPF6kAQfiu1r2/giphy.gif" style="width:100%">
  </div>
</div>
<div id="SweepMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/7FgZM5MxthZuxbpD0q/giphy.gif" style="width:100%">
  </div>
</div>
<div id="ToeHeelTwistMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/5qFDygSshK4HurugfX/giphy.gif" style="width:100%">
  </div>
</div>
<div id="TwisterMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/bbSwRLYyG5UPxnzovu/giphy.gif" style="width:100%">
  </div>
</div>
<div id="WeedwackerMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/2vjp9t1xodbovPmIrc/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Criss Cross -->
<div id="BigWillyStyleMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/MV1nDfk6ul60ng5t0C/giphy.gif" style="width:100%">
  </div>
</div>
<div id="CharlestonMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/pzdG9rwgKnScAl3Fss/giphy.gif" style="width:100%">
  </div>
</div>
<div id="CrissCrossMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/300ZuyC7pAD6lvJYdj/giphy.gif" style="width:100%">
  </div>
</div>
<div id="ECruzMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/1dKRYJcE9RkcveN7cf/giphy.gif" style="width:100%">
  </div>
</div>
<div id="TurnNBurnMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/5YbO8TvC09NpBegR15/giphy.gif" style="width:100%">
  </div>
</div>
<div id="ZigZagMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/fxelVW9kKwuYETrdHm/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Cuts -->
<div id="CutsMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/fnmmm1PZSAdPJjCMdw/giphy.gif" style="width:100%">
  </div>
</div>
<div id="CutsRevMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/1ZjRh5i8hzyG8vHZq3/giphy.gif" style="width:100%">
  </div>
</div>
<div id="FrontStutterMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/EQ86L2PcYijKEHr6L6/giphy.gif" style="width:100%">
  </div>
</div>
<div id="RearKickMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/1hAXxv2VaPDlrrGGgr/giphy.gif" style="width:100%">
  </div>
</div>
<div id="VSteppinMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/5wFkMmifLkK0DoSoRP/giphy.gif" style="width:100%">
  </div>
</div>
<div id="YankedMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/3gYTno3GMwtcaoHCsI/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Fly Feet -->
<div id="FlyFeetMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/3aXfINwcEbMfe9STbU/giphy.gif" style="width:100%">
  </div>
</div>
<div id="FlyFeetRevMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/AiFMxxR4hZNSiyebn1/giphy.gif" style="width:100%">
  </div>
</div>
<div id="KaraokeMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/mMDBo5bcCpgQ1iYzj6/giphy.gif" style="width:100%">
  </div>
</div>
<div id="WhackyMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/8mBRcYSKZ5LwNNMYyK/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Shimmy -->
<div id="InNOutMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/Zwudz4TosZRn6SLKGB/giphy.gif" style="width:100%">
  </div>
</div>
<div id="RoundaboutsMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/1xP5cIN9Ufn2drqDj5/giphy.gif" style="width:100%">
  </div>
</div>
<div id="SideRockMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/2wgYYHjboy0llvpP4X/giphy.gif" style="width:100%">
  </div>
</div>
<div id="ShimmyMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/5tf23PyEFAzU43bftN/giphy.gif" style="width:100%">
  </div>
</div>
<div id="StomperMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/35Ki1oQswXnddHUjT5/giphy.gif" style="width:100%">
  </div>
</div>
<div id="ToePogoMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/3FbJOOpyWYfUYkT9dh/giphy.gif" style="width:100%">
  </div>
</div>
<div id="TSteppinMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/cYj5UJDLxhadeAByTL/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Spins -->
<div id="Spin360MoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/63MSLbyHiEXMsc0QqK/giphy.gif" style="width:100%">
  </div>
</div>
<div id="InsideSpinMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/Xpth3VGJqaI2B7P02g/giphy.gif" style="width:100%">
  </div>
</div>
<div id="OutsideSpinMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/XIFmpNuPT2N9TfTzdM/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Steppin -->
<div id="GiddyUpMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/i2PJ12HBwMstU5HSug/giphy.gif" style="width:100%">
  </div>
</div>
<div id="ForwardLaunchMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/1wmxDMeCPilm4ApDNg/giphy.gif" style="width:100%">
  </div>
</div>
<div id="LaunchBackMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/MRXmySP4fEpSowInOy/giphy.gif" style="width:100%">
  </div>
</div>
