<!-- Drop Downs -->
<div id="CorkscrewMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/1Bh3kgmlz3ew8EYvwl/giphy.gif" style="width:100%">
  </div>
</div>
<div id="DropDownMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/QNTrvQtZvCsM81hYij/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Moonwalk -->
<div id="MoonshuffleMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/tJMOZXiPL9Yf3m3I8n/giphy.gif" style="width:100%">
  </div>
</div>
<div id="MoonwalkMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/7SEKUSXG0W0LIufMea/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Running Man -->
<div id="GoofyStepMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/cAzUlrWoQgfe1ShDDW/giphy.gif" style="width:100%">
  </div>
</div>
<div id="FrozoneMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/2tRotfxh1gxrEUVDet/giphy.gif" style="width:100%">
  </div>
</div>
<div id="RunningManMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/1dI01pPzF5ystuJCHl/giphy.gif" style="width:100%">
  </div>
</div>
<div id="RunningManReverseMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/5wGf2tbRthQF8xU2bz/giphy.gif" style="width:100%">
  </div>
</div>
<div id="WindsweptMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/1g3cie84mxKhztMtAI/giphy.gif" style="width:100%">
  </div>
</div>
<div id="ZombieMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/5YhvqLjrJpmWLRDODV/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Slides -->
<div id="CrssdMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/39jF8J5Ow26f97q0Oq/giphy.gif" style="width:100%">
  </div>
</div>
<div id="FlipFlopMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/1kTNZ268aPBL6S65Xy/giphy.gif" style="width:100%">
  </div>
</div>
<div id="SlyceMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/406WpMJfFvMtWo88z9/giphy.gif" style="width:100%">
  </div>
</div>
<div id="RacquetMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/Zyv6h4ALBsRJN9thHY/giphy.gif" style="width:100%">
  </div>
</div>
<div id="RodeoMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/4HeSl3jGc0RjWpExQU/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Spins -->
<div id="FlatFootSpinMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/PLZ4d1b3tkvGPhQbu8/giphy.gif" style="width:100%">
  </div>
</div>
<div id="KickSpinMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/t6wZ8V83IXhMLbP1md/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Stutters -->
<div id="AboutFaceMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/RkJKmdawLAEZO3IZlO/giphy.gif" style="width:100%">
  </div>
</div>
<div id="LoopDeLoopMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/Y08EqnDMA4k5WMRBnU/giphy.gif" style="width:100%">
  </div>
</div>
