<!-- Ankle Breakers -->
<div id="ChellaCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/U6U4LeES3b5FxjDmby/giphy.gif" style="width:100%">
  </div>
</div>
<div id="TurbineCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/1pA2TrS3hA2Whafdvs/giphy.gif" style="width:100%">
  </div>
</div>
<div id="SplashHouseCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/uFj9t1utKFGjEiu601/giphy.gif" style="width:100%">
  </div>
</div>
<div id="SuzyQCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/1AJ77URejDS5dNmIRn/giphy.gif" style="width:100%">
  </div>
</div>
<div id="SwangCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/2gYc1eVb5lJPcLKJRc/giphy.gif" style="width:100%">
  </div>
</div>
<div id="SmoothCriminalCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/3cWtmlKWj5br8gnrIH/giphy.gif" style="width:100%">
  </div>
</div>
<div id="SweepCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/WgO42mFKYE9JwSfWmo/giphy.gif" style="width:100%">
  </div>
</div>
<div id="ToeHeelTwistCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/39pq2zN0ZwrGfoZ3F8/giphy.gif" style="width:100%">
  </div>
</div>
<div id="TwisterCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/9SJaWSvHdrRBSyd8ih/giphy.gif" style="width:100%">
  </div>
</div>
<div id="WeedwackerCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/yw86k1rPzr62Zv81et/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Criss Cross -->
<div id="ECruzCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/1lDfwVHt6iNPPCC4gr/giphy.gif" style="width:100%">
  </div>
</div>
<div id="CrissCrossCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/fnjx8ScFkwZLMcI7kU/giphy.gif" style="width:100%">
  </div>
</div>
<div id="CharlestonCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/vxpDhqAogg8T93YO0K/giphy.gif" style="width:100%">
  </div>
</div>
<div id="TurnNBurnCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/7OVQJkJzMh2r1DTxKD/giphy.gif" style="width:100%">
  </div>
</div>
<div id="BigWillyStyleCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/1xlKKaa8gDchxzI9RH/giphy.gif" style="width:100%">
  </div>
</div>
<div id="ZigZagCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/6bbWo5Rr6w0S7JS0cZ/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Cuts -->
<div id="CutsCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/jT5ImNJ7O2Ht1VqN7z/giphy.gif" style="width:100%">
  </div>
</div>
<div id="CutsRevCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/p3n88oyHf3b2d7EsUt/giphy.gif" style="width:100%">
  </div>
</div>
<div id="RearKickCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/2YtbJgfsnov3f8i22M/giphy.gif" style="width:100%">
  </div>
</div>
<div id="FrontStutterCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/5T0qxXpLkARoYCSSmO/giphy.gif" style="width:100%">
  </div>
</div>
<div id="VSteppinCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/1X7mEQCbqIH3ap5veI/giphy.gif" style="width:100%">
  </div>
</div>
<div id="YankedCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/47K1MFl9EwvMl9CKGG/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Leaner -->
<div id="FlyFeetCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/31UJqa3egfW0hXVvzI/giphy.gif" style="width:100%">
  </div>
</div>
<div id="FlyFeetRevCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/14SE4NdoFWEhTjITqc/giphy.gif" style="width:100%">
  </div>
</div>
<div id="WhackyCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/3DxQdmm9W9LOZzlkGR/giphy.gif" style="width:100%">
  </div>
</div>
<div id="InNOutCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/Zyw1Qu7FipdVw7qS2S/giphy.gif" style="width:100%">
  </div>
</div>
<div id="KaraokeCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/1ioiU1yxEp8LwaSpWO/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Shimmy -->
<div id="ShimmyCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/WNwMK3Y4byWFcqHr5g/giphy.gif" style="width:100%">
  </div>
</div>
<div id="ToePogoCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/1fgI5iYS7eniSMgMv7/giphy.gif" style="width:100%">
  </div>
</div>
<div id="RoundaboutsCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/Aij75Ws6vT1cKjfVI4/giphy.gif" style="width:100%">
  </div>
</div>
<div id="SideRockCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/5SBPsUoEONBzUdtLdB/giphy.gif" style="width:100%">
  </div>
</div>
<div id="TSteppinCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/OT5B004WoO27kE1c44/giphy.gif" style="width:100%">
  </div>
</div>
<div id="StomperCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/23k8ztdzC6cRyl6LeE/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Spins -->
<div id="Spin360CountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/xThtakPpqvdKhyJBII/giphy.gif" style="width:100%">
  </div>
</div>
<div id="InsideSpinCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/cXRf9mYfmUHjQjIB9E/giphy.gif" style="width:100%">
  </div>
</div>
<div id="OutsideSpinCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/mWhZlKGxuiCQp1OMa3/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Steppin -->
<div id="GiddyUpCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/Ah3saklHDohpfQkSaV/giphy.gif" style="width:100%">
  </div>
</div>
