<!-- Drop Downs -->
<div id="DropDownCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/88hQnpyqAyhFz8bAM4/giphy.gif" style="width:100%">
  </div>
</div>
<div id="CorkscrewCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/3bzn5QtDW4kT7CgOcC/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Moonwalk -->
<div id="MoonshuffleCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/2hgwBh3xV129bqb7p9/giphy.gif" style="width:100%">
  </div>
</div>
<div id="MoonwalkCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/wHdO1iUQfsFoEQ53IV/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Running Man -->
<div id="RunningManCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/LwFC5EI5aige9uT92T/giphy.gif" style="width:100%">
  </div>
</div>
<div id="RunningManReverseCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/YByO7O4XZ2GFaaK0Da/giphy.gif" style="width:100%">
  </div>
</div>
<div id="FrozoneCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/1xVdB3xcn8CD8hJQat/giphy.gif" style="width:100%">
  </div>
</div>
<div id="WindsweptCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/1gTops5LhhlR3i2KME/giphy.gif" style="width:100%">
  </div>
</div>
<div id="ZombieCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/7SQFISnSyRASbNOpgO/giphy.gif" style="width:100%">
  </div>
</div>
<div id="GoofyStepCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/nwqcuMNMzCSERh8vsm/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Slides -->
<div id="CrssdCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/61WOg8a02R2pNvGpat/giphy.gif" style="width:100%">
  </div>
</div>
<div id="RodeoCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/xThta2v4UFm9QtCXny/giphy.gif" style="width:100%">
  </div>
</div>
<div id="SlyceCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/WS3bxTX2pXWFa9AgNv/giphy.gif" style="width:100%">
  </div>
</div>
<div id="RacquetCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/2599JDKqb99i2dj82u/giphy.gif" style="width:100%">
  </div>
</div>
<div id="FlipFlopCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/Av0CleFHRBPXfdK9PX/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Spins -->
<div id="KickSpinCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/9x6GGNGf6mvPRtGgBZ/giphy.gif" style="width:100%">
  </div>
</div>
<div id="FlatFootSpinCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/ctMbAN8feKE1zESY88/giphy.gif" style="width:100%">
  </div>
</div>
<!-- Stutters -->
<div id="LoopDeLoopCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/4TmslvfqotdjMVOzyj/giphy.gif" style="width:100%">
  </div>
</div>
<div id="AboutFaceCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/7NR4mbDngaBMXnf9bk/giphy.gif" style="width:100%">
  </div>
</div>
<div id="ForwardLaunchCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/C89nHOFQlpQLb4sWXN/giphy.gif" style="width:100%">
  </div>
</div>
<div id="LaunchBackCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/jVFqgvGY4ENEyAfxEU/giphy.gif" style="width:100%">
  </div>
</div>
