<!-- Hip Hop -->
<div id="HitThemFolksMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/yuGJiU48gnKiPytVZ5/giphy.gif" style="width:100%">
  </div>
</div>
<div id="BackpackKidMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/ccVHpsf9bxWBPNWhmU/giphy.gif" style="width:100%">
  </div>
</div>
<div id="MillyRockMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/7zDimpOA34PmIOxVRW/giphy.gif" style="width:100%">
  </div>
</div>
<div id="SchmoneyMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/2siakesLAC96qV9LLI/giphy.gif" style="width:100%">
  </div>
</div>
<div id="ShootMoveModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/37QNggk9Ww5XnBXuM8/giphy.gif" style="width:100%">
  </div>
</div>
