<!-- Hip Hop -->
<div id="MillyRockCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/lzXqAhGSTw3JSf52qv/giphy.gif" style="width:100%">
  </div>
</div>
<div id="SchmoneyCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/LXR4RQgZMfUEkWUhos/giphy.gif" style="width:100%">
  </div>
</div>
<div id="HitThemFolksCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/1ncTGSMZU73XCJdN83/giphy.gif" style="width:100%">
  </div>
</div>
<div id="ShootCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/495ujdvxSXhWQBk0q4/giphy.gif" style="width:100%">
  </div>
</div>
<div id="BackpackKidCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="https://media.giphy.com/media/1FE5MQsShjTAhe5EVZ/giphy.gif" style="width:100%">
  </div>
</div>
<div id="StirFryCountModal" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <img src="#" style="width:100%">
  </div>
</div>
