<!-- ++++++++++++++++ In-N-Out ++++++++++++++++ -->
<button onclick="openAccordion('InNOut')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  In-N-Out
</button>
<div id="InNOut" class="w3-hide w3-container w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-amber">
        <img src="https://media.giphy.com/media/Zwudz4TosZRn6SLKGB/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('InNOutMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-amber">
        <img src="https://media.giphy.com/media/Zyw1Qu7FipdVw7qS2S/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('InNOutCountModal').style.display='block'"/>
      </div>
    </div>
  </div><!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container innoutSlides">
          <img src="../img/Count/SHAPES/SHIMMYS/InNOut/InNOut1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container innoutSlides" style="display: none;">
          <img src="../img/Count/SHAPES/SHIMMYS/InNOut/InNOut1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container innoutSlides" style="display: none;">
          <img src="../img/Count/SHAPES/SHIMMYS/InNOut/InNOut2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container innoutSlides" style="display: none;">
          <img src="../img/Count/SHAPES/SHIMMYS/InNOut/InNOut2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 27)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 27)">&#10095;</button>
      </div>
    </div>
  </div>
  <!-- TEXT -->
  <%# <div class="w3-container w3-padding">
    <button onclick="openAccordion('InNOutWalkthrough')" class="w3-hover-opacity w3-hover-green w3-large w3-button w3-bar w3-left-align w3-block">WALKTHROUGH</button>
    <div id="InNOutWalkthrough" class="w3-border w3-container w3-hide">
      <ul class="w3-ul">
        <li>
          At each beat, your leg (leading with your toes) should be pointed either outward from each other or criss cross
        </li>
        <li>
          At each half beat, your toes/legs should be both be pointing forward
        </li>
        <li>
          During the motion, one leg stays stationary on the ground, the other stays slightly off the ground
        </li>
      </ul>
    </div>
    <button onclick="openAccordion('InNOutPit1')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">Hands Balance</button>
    <div id="InNOutPit1" class="w3-border w3-container w3-hide">
      <p>
        Extend your arms outward and let them naturally act as stabilizers. As if you were balacing on a tightrope with your arms extended, as you perform the move your arms should adjust accordingly to keep you balance.
      </p>
    </div>
    <button onclick="openAccordion('InNOutPit2')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">Touches</button>
    <div id="InNOutPit2" class="w3-border w3-container w3-hide">
      <p>
        As an alternate variation of this move (and potentially an easier version), with each reverse of the direction of your toes you can tap the ground with your hover foot. This will help you get your balance back (by eliminating any sway in your stance from balancing on one foot).
      </p>
    </div>
  </div> %>
</div>
<!-- ++++++++++++++++ Roundabouts ++++++++++++++++ -->
<button onclick="openAccordion('Roundabouts')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Roundabouts
</button>
<div id="Roundabouts" class="w3-hide w3-container w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-amber">
        <img src="https://media.giphy.com/media/1xP5cIN9Ufn2drqDj5/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RoundaboutsMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-amber">
        <img src="https://media.giphy.com/media/Aij75Ws6vT1cKjfVI4/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RoundaboutsCountModal').style.display='block'"/>
      </div>
    </div>
  </div><!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container roundaboutsSlides">
          <img src="../img/Count/SHAPES/SHIMMYS/Roundabouts/Roundabouts1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container roundaboutsSlides" style="display: none;">
          <img src="../img/Count/SHAPES/SHIMMYS/Roundabouts/Roundabouts1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container roundaboutsSlides" style="display: none;">
          <img src="../img/Count/SHAPES/SHIMMYS/Roundabouts/Roundabouts2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container roundaboutsSlides" style="display: none;">
          <img src="../img/Count/SHAPES/SHIMMYS/Roundabouts/Roundabouts2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 28)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 28)">&#10095;</button>
      </div>
    </div>
  </div>
  <!-- TEXT -->
  <%# <div class="w3-container w3-padding">
    <button onclick="openAccordion('RoundaboutsWalkthrough')" class="w3-hover-opacity w3-hover-green w3-large w3-button w3-bar w3-left-align w3-block">WALKTHROUGH</button>
    <div id="RoundaboutsWalkthrough" class="w3-border w3-container w3-hide">
      <ul class="w3-ul">
        <li>
          Stand with feet slightly closer than shoudler width
        </li>
        <li>
          Raise left foot up in a tip-toe position, toe hovering low off the ground
        </li>
        <li>
          Snake left toe inward to right, then all the way back out to left
        </li>
        <li>
          Snake left toe back inward again and tap toe to slight center-right of stance
        </li>
      </ul>
    </div>
    <button onclick="openAccordion('RoundaboutsPit1')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">TIP 1</button>
    <div id="RoundaboutsPit1" class="w3-border w3-container w3-hide">
      <p>
        Lorem
      </p>
    </div>
    <button onclick="openAccordion('RoundaboutsPit2')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">TIP 2</button>
    <div id="RoundaboutsPit2" class="w3-border w3-container w3-hide">
      <p>
        Lorem
      </p>
    </div>
  </div> %>
</div>
<!-- ++++++++++++++++ Shimmy ++++++++++++++++ -->
<button onclick="openAccordion('Shimmy')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Shimmy
</button>
<div id="Shimmy" class="w3-hide w3-container w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-amber">
        <img src="https://media.giphy.com/media/5tf23PyEFAzU43bftN/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ShimmyMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-amber">
        <img src="https://media.giphy.com/media/WNwMK3Y4byWFcqHr5g/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ShimmyCountModal').style.display='block'"/>
      </div>
    </div>
  </div><!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container shimmySlides">
          <img src="../img/Count/SHAPES/SHIMMYS/Shimmy/Shimmy1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container shimmySlides" style="display: none;">
          <img src="../img/Count/SHAPES/SHIMMYS/Shimmy/Shimmy1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container shimmySlides" style="display: none;">
          <img src="../img/Count/SHAPES/SHIMMYS/Shimmy/Shimmy2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container shimmySlides" style="display: none;">
          <img src="../img/Count/SHAPES/SHIMMYS/Shimmy/Shimmy2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 29)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 29)">&#10095;</button>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Side Rock ++++++++++++++++ -->
<button onclick="openAccordion('SideRock')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Side Rock
</button>
<div id="SideRock" class="w3-hide w3-container w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-amber">
        <img src="https://media.giphy.com/media/2wgYYHjboy0llvpP4X/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SideRockMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-amber">
        <img src="https://media.giphy.com/media/5SBPsUoEONBzUdtLdB/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SideRockCountModal').style.display='block'"/>
      </div>
    </div>
  </div><!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container siderockSlides">
          <img src="../img/Count/SHAPES/SHIMMYS/SideRock/SideRock1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container siderockSlides" style="display: none;">
          <img src="../img/Count/SHAPES/SHIMMYS/SideRock/SideRock1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container siderockSlides" style="display: none;">
          <img src="../img/Count/SHAPES/SHIMMYS/SideRock/SideRock2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container siderockSlides" style="display: none;">
          <img src="../img/Count/SHAPES/SHIMMYS/SideRock/SideRock2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 30)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 30)">&#10095;</button>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Stomper ++++++++++++++++ -->
<button onclick="openAccordion('Stomper')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Stomper
</button>
<div id="Stomper" class="w3-hide w3-container w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-amber">
        <img src="https://media.giphy.com/media/35Ki1oQswXnddHUjT5/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('StomperMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-amber">
        <img src="https://media.giphy.com/media/23k8ztdzC6cRyl6LeE/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('StomperCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container stomperSlides">
          <img src="../img/Count/SHAPES/SHIMMYS/Stomper/Stomper1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container stomperSlides" style="display: none;">
          <img src="../img/Count/SHAPES/SHIMMYS/Stomper/Stomper1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container stomperSlides" style="display: none;">
          <img src="../img/Count/SHAPES/SHIMMYS/Stomper/Stomper2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container stomperSlides" style="display: none;">
          <img src="../img/Count/SHAPES/SHIMMYS/Stomper/Stomper2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 31)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 31)">&#10095;</button>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ T-Steppin ++++++++++++++++ -->
<button onclick="openAccordion('TSteppin')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  T-Steppin
</button>
<div id="TSteppin" class="w3-hide w3-container w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-amber">
        <img src="https://media.giphy.com/media/cYj5UJDLxhadeAByTL/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('TSteppinMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-amber">
        <img src="https://media.giphy.com/media/OT5B004WoO27kE1c44/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('TSteppinCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container tsteppinSlides">
          <img src="../img/Count/SHAPES/SHIMMYS/TSteppin/TSteppin1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container tsteppinSlides" style="display: none;">
          <img src="../img/Count/SHAPES/SHIMMYS/TSteppin/TSteppin1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container tsteppinSlides" style="display: none;">
          <img src="../img/Count/SHAPES/SHIMMYS/TSteppin/TSteppin2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container tsteppinSlides" style="display: none;">
          <img src="../img/Count/SHAPES/SHIMMYS/TSteppin/TSteppin2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container tsteppinSlides" style="display: none;">
          <img src="../img/Count/SHAPES/SHIMMYS/TSteppin/TSteppin3.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 3
          </div>
        </div>
        <div class="w3-display-container tsteppinSlides" style="display: none;">
          <img src="../img/Count/SHAPES/SHIMMYS/TSteppin/TSteppin3n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container tsteppinSlides" style="display: none;">
          <img src="../img/Count/SHAPES/SHIMMYS/TSteppin/TSteppin4.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 4
          </div>
        </div>
        <div class="w3-display-container tsteppinSlides" style="display: none;">
          <img src="../img/Count/SHAPES/SHIMMYS/TSteppin/TSteppin4n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 32)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 32)">&#10095;</button>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Toe Pogo ++++++++++++++++ -->
<button onclick="openAccordion('ToePogo')" class="w3-hover-opacity w3-hover-red w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Toe Pogo
</button>
<div id="ToePogo" class="w3-hide w3-container w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-red">
        <img src="https://media.giphy.com/media/3FbJOOpyWYfUYkT9dh/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ToePogoMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-red">
        <img src="https://media.giphy.com/media/1fgI5iYS7eniSMgMv7/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ToePogoCountModal').style.display='block'"/>
      </div>
    </div>
  </div><!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container toepogoSlides">
          <img src="../img/Count/SHAPES/SHIMMYS/ToePogo/ToePogo1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container toepogoSlides" style="display: none;">
          <img src="../img/Count/SHAPES/SHIMMYS/ToePogo/ToePogo1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container toepogoSlides" style="display: none;">
          <img src="../img/Count/SHAPES/SHIMMYS/ToePogo/ToePogo2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 33)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 33)">&#10095;</button>
      </div>
    </div>
  </div>
</div>
