<!-- ++++++++++++++++ Chella ++++++++++++++++ -->
<button onclick="openAccordion('Chella')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Chella
</button>
<div id="Chella" class="w3-hide w3-container w3-margin-bottom">
  <!-- GIFS -->
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-green">
        <img src="https://media.giphy.com/media/1esS53ES0QjRAkK0nJ/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ChellaMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-green">
        <img src="https://media.giphy.com/media/U6U4LeES3b5FxjDmby/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ChellaCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container chellaSlides">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/Chella/Chella1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container chellaSlides" style="display: none;">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/Chella/Chella1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container chellaSlides" style="display: none;">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/Chella/Chella2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container chellaSlides" style="display: none;">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/Chella/Chella2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 0)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 0)">&#10095;</button>
      </div>
    </div>
  </div>
  <!-- TEXT -->
  <%# <div class="w3-container w3-padding">
    <button onclick="openAccordion('ChellaWalkthrough')" class="w3-hover-opacity w3-hover-green w3-large w3-button w3-bar w3-left-align w3-block">WALKTHROUGH</button>
    <div id="ChellaWalkthrough" class="w3-border w3-container w3-hide">
      <ul class="w3-ul">
        <li>
          Feet start together, both flat on ground
        </li>
        <li>
          Mildy twist hips / jump and land on the heel of one foot and the toe of the other
        </li>
        <li>
          Toe should be pointing outwards at a 45 degree angle, other foot should be parallel to its plane
        </li>
        <li>
          Jump feet back together and repeat in opposite direction
        </li>
      </ul>
    </div>
    <button onclick="openAccordion('ChellaPit1')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">Weak Points</button>
    <div id="ChellaPit1" class="w3-border w3-container w3-hide">
      <p>
        Make sure you are clearly accentuating the toe / heel aspect - a weak toe point will look awkward, so make sure you emphasize it by pointing your toes out to the side at a 45 degree angle, heel firmly planted.
      </p>
    </div>
    <button onclick="openAccordion('ChellaPit2')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">Failure to Switch</button>
    <div id="ChellaPit2" class="w3-border w3-container w3-hide">
      <p>
        Get into the groove of swapping between being on two flat feet and being on heel / toe. Practice just swapping between flat feet and turning right or turning left (i.e., do counts 1 &lt-&gt 1& or counts 2&lt-&gt2& back and forth).
      </p>
    </div>
  </div> %>
</div>
<!-- ++++++++++++++++ Smooth Criminal ++++++++++++++++ -->
<button onclick="openAccordion('SmoothCriminal')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Smooth Criminal
</button>
<div id="SmoothCriminal" class="w3-hide w3-container w3-margin-bottom">
  <!-- GIFS -->
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-amber">
        <img src="https://media.giphy.com/media/9r8JSkmYk74n3EUAxZ/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SmoothCriminalMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-amber">
        <img src="https://media.giphy.com/media/3cWtmlKWj5br8gnrIH/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SmoothCriminalCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container smoothcriminalSlides">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/SmoothCriminal/SmoothCriminal1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container smoothcriminalSlides" style="display: none;">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/SmoothCriminal/SmoothCriminal1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container smoothcriminalSlides" style="display: none;">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/SmoothCriminal/SmoothCriminal2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container smoothcriminalSlides" style="display: none;">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/SmoothCriminal/SmoothCriminal2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 1)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 1)">&#10095;</button>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ SplashHouse ++++++++++++++++ -->
<button onclick="openAccordion('SplashHouse')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Splash House
</button>
<div id="SplashHouse" class="w3-hide w3-container w3-margin-bottom">
  <!-- GIFS -->
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-amber">
        <img src="https://media.giphy.com/media/tZB5uJ4m4jdf2KqQzv/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SplashHouseMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-amber">
        <img src="https://media.giphy.com/media/uFj9t1utKFGjEiu601/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SplashHouseCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container splashhouseSlides">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/SplashHouse/SplashHouse1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container splashhouseSlides" style="display: none;">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/SplashHouse/SplashHouse1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container splashhouseSlides" style="display: none;">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/SplashHouse/SplashHouse2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container splashhouseSlides" style="display: none;">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/SplashHouse/SplashHouse2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 2)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 2)">&#10095;</button>
      </div>
    </div>
  </div>
  <!-- TEXT -->
  <%# <div class="w3-container w3-padding">
    <button onclick="openAccordion('SplashHouseWalkthrough')" class="w3-hover-opacity w3-hover-green w3-large w3-button w3-bar w3-left-align w3-block">WALKTHROUGH</button>
    <div id="SplashHouseWalkthrough" class="w3-border w3-container w3-hide">
      <ul class="w3-ul">
        <li>
          Stand with feet slightly closer than shoudler width
        </li>
        <li>
          Raise left foot up in a tip-toe position, toe hovering low off the ground
        </li>
        <li>
          Snake left toe inward to right, then all the way back out to left
        </li>
        <li>
          Rotate left foot and bring down flat to front-right of left foot
        </li>
        <li>
          Foot should be perpendicular to ground until right before final stance
        </li>
      </ul>
    </div>
    <button onclick="openAccordion('SplashHousePit1')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">Practice With Support</button>
    <div id="SplashHousePit1" class="w3-border w3-container w3-hide">
      <p>
        Like learning to ride a bike with training wheels, you can practice heel out stomps while holding on to something for support - a doorway works very well. Practice getting down the motion of reverses in the doorway initially, and use less and less support as your muscle memory improves.
      </p>
    </div>
    <button onclick="openAccordion('SplashHousePit2')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">Counter Motion Arms</button>
    <div id="SplashHousePit2" class="w3-border w3-container w3-hide">
      <p>
        Once the training wheels are off, a good way to keep balance is to motion your arm on the side opposite your leg. So if you are doing the move with your left leg, use your right arm to balance yourself (and vice versa). As your left leg crosses to the right side of your body, your right arm should be crossed over on the left side of your body. As your left leg juts out to the left, your right arm should be extended right to counterbalance
      </p>
    </div>
  </div> %>
</div>
<!-- ++++++++++++++++ SuzyQ ++++++++++++++++ -->
<button onclick="openAccordion('SuzyQ')" class="w3-hover-opacity w3-hover-red w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Suzy Q
</button>
<div id="SuzyQ" class="w3-hide w3-container w3-margin-bottom">
  <!-- GIFS -->
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-red">
        <img src="https://media.giphy.com/media/X74UHjJf2HIbqYB81I/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SuzyQMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-red">
        <img src="https://media.giphy.com/media/1AJ77URejDS5dNmIRn/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SuzyQCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container suzyqSlides">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/SuzyQ/SuzyQ1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container suzyqSlides" style="display: none;">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/SuzyQ/SuzyQ1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container suzyqSlides" style="display: none;">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/SuzyQ/SuzyQ2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container suzyqSlides" style="display: none;">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/SuzyQ/SuzyQ2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 3)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 3)">&#10095;</button>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Swang ++++++++++++++++ -->
<button onclick="openAccordion('Swang')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Swang
</button>
<div id="Swang" class="w3-hide w3-container w3-margin-bottom">
  <!-- GIFS -->
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-green">
        <img src="https://media.giphy.com/media/ONG9SJPF6kAQfiu1r2/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SwangMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-green">
        <img src="https://media.giphy.com/media/2gYc1eVb5lJPcLKJRc/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SwangCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container swangSlides">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/Swang/Swang1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container swangSlides" style="display: none;">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/Swang/Swang1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container swangSlides" style="display: none;">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/Swang/Swang2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container swangSlides" style="display: none;">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/Swang/Swang2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 4)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 4)">&#10095;</button>
      </div>
    </div>
  </div>
  <!-- TEXT -->
  <%# <div class="w3-container w3-padding">
    <button onclick="openAccordion('SwangWalkthrough')" class="w3-hover-opacity w3-hover-green w3-large w3-button w3-bar w3-left-align w3-block">WALKTHROUGH</button>
    <div id="SwangWalkthrough" class="w3-border w3-container w3-hide">
      <ul class="w3-ul">
        <li>
          Feet start together, both flat on ground
        </li>
        <li>
          Leading with hips, twist in one direction, both toes point towards said direction
        </li>
        <li>
          Inside foot toe is down, outside foot toe is up
        </li>
        <li>
          Twist back in the opposite direction now, and move feet further (or closer) apart
        </li>
        <li>
          Keep repeating until feet are at furthest apart or closest together, then reverse
        </li>
        <li>
          Beats will always be feet flat, half beats will always be toes pointing out
        </li>
      </ul>
    </div>
    <button onclick="openAccordion('SwangPit1')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">Inconsistent Heels</button>
    <div id="SwangPit1" class="w3-border w3-container w3-hide">
      <p>
        Make sure you keep find the sweet spot for how far apart to move your heels/toes each beat. Move them too far apart each time and you'll be doing the splits - move them too little, the move looks flat and dead. Move them apart/together an equal amount each time.
      </p>
    </div>
    <button onclick="openAccordion('SwangPit2')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">When to Reverse</button>
    <div id="SwangPit2" class="w3-border w3-container w3-hide">
      <p>
        Anticipate how many more counts until you have to switch from moving heels *apart* to moving heels *together*. Going hand in hand with "inconsistent heels," picture the total distance traversed outward (from heels together at the start, to heels apart at the last count) divided into equal bits that you will move your heels each beat.
      </p>
    </div>
  </div> %>
</div>
<!-- ++++++++++++++++ Sweep ++++++++++++++++ -->
<button onclick="openAccordion('Sweep')" class="w3-hover-opacity w3-hover-red w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Sweep
</button>
<div id="Sweep" class="w3-hide w3-container w3-margin-bottom">
  <!-- GIFS -->
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-red">
        <img src="https://media.giphy.com/media/7FgZM5MxthZuxbpD0q/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SweepMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-red">
        <img src="https://media.giphy.com/media/WgO42mFKYE9JwSfWmo/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SweepCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container sweepSlides">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/Sweep/Sweep1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container sweepSlides" style="display: none;">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/Sweep/Sweep1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container sweepSlides" style="display: none;">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/Sweep/Sweep2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container sweepSlides" style="display: none;">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/Sweep/Sweep2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 5)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 5)">&#10095;</button>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Toe Heel Twist  ++++++++++++++++ -->
<button onclick="openAccordion('ToeHeelTwist')" class="w3-hover-opacity w3-hover-red w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Toe Heel Twist
</button>
<div id="ToeHeelTwist" class="w3-hide w3-container w3-margin-bottom">
  <!-- GIFS -->
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-red">
        <img src="https://media.giphy.com/media/5qFDygSshK4HurugfX/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ToeHeelTwistMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-red">
        <img src="https://media.giphy.com/media/39pq2zN0ZwrGfoZ3F8/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ToeHeelTwistCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container toeheeltwistSlides">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/ToeHeelTwist/ToeHeelTwist1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container toeheeltwistSlides" style="display: none;">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/ToeHeelTwist/ToeHeelTwist2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container toeheeltwistSlides" style="display: none;">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/ToeHeelTwist/ToeHeelTwist2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container toeheeltwistSlides" style="display: none;">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/ToeHeelTwist/ToeHeelTwist3.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 3
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 6)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 6)">&#10095;</button>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Turbine ++++++++++++++++ -->
<button onclick="openAccordion('Turbine')" class="w3-hover-opacity w3-hover-deep-purple w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Turbine
</button>
<div id="Turbine" class="w3-hide w3-container w3-margin-bottom">
  <!-- GIFS -->
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-deep-purple">
        <img src="https://media.giphy.com/media/1RkvMC9pArUTovQyxz/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('TurbineMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-deep-purple">
        <img src="https://media.giphy.com/media/1pA2TrS3hA2Whafdvs/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('TurbineCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container turbineSlides">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/Turbine/Turbine1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container turbineSlides" style="display: none;">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/Turbine/Turbine1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container turbineSlides" style="display: none;">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/Turbine/Turbine2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container turbineSlides" style="display: none;">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/Turbine/Turbine2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 7)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 7)">&#10095;</button>
      </div>
    </div>
  </div>
  <!-- TEXT -->
  <%# <div class="w3-container w3-padding">
    <button onclick="openAccordion('TurbineWalkthrough')" class="w3-hover-opacity w3-hover-green w3-large w3-button w3-bar w3-left-align w3-block">WALKTHROUGH</button>
    <div id="TurbineWalkthrough" class="w3-border w3-container w3-hide">
      <ul class="w3-ul">
        <li>
          Stand with right foot to front-right on heel and left foot at back-left on toe
        </li>
        <li>
          Bounce back flat onto right foot in center of stance, bringing left foot up and behind you
        </li>
        <li>
          With left foot perpendicular to ground (toe pointing to ground), snake left foot from behind you to front right of stance
        </li>
        <li>
          Snake left foot back to left side of body, then behind and right of body
        </li>
        <li>
          Repeat the direction of the snake however many times
        </li>
        <li>
          When finished with snakes, bring left foot from back-right rear of stance to down flat at front right
        </li>
      </ul>
    </div>
    <button onclick="openAccordion('TurbinePit1')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">Unintuitive Figure 8</button>
    <div id="TurbinePit1" class="w3-border w3-container w3-hide">
      <p>
        What appears to be a frantic shimmying of the leg is actually a figure 8 you are making with your foot. Pay specially close attention to the path of the figure 8 your foot should be taking, and trace it very slowly while standing firmly on your plant foot. As the figure 8 becomes more second nature, speed up the tracing. Eventually the left right twist of your plant foot should come naturally as you make the figure 8 with more speed and force
      </p>
    </div>
    <button onclick="openAccordion('TurbinePit2')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">TIP 2</button>
    <div id="TurbinePit2" class="w3-border w3-container w3-hide">
      <p>
        Lorem
      </p>
    </div>
  </div> %>
</div>
<!-- ++++++++++++++++ Twister ++++++++++++++++ -->
<button onclick="openAccordion('Twister')" class="w3-hover-opacity w3-hover-deep-purple w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Twister
</button>
<div id="Twister" class="w3-hide w3-container w3-margin-bottom">
  <!-- GIFS -->
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-deep-purple">
        <img src="https://media.giphy.com/media/bbSwRLYyG5UPxnzovu/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('TwisterMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-deep-purple">
        <img src="https://media.giphy.com/media/9SJaWSvHdrRBSyd8ih/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('TwisterCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container twisterSlides">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/Twister/Twister1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container twisterSlides" style="display: none;">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/Twister/Twister1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container twisterSlides" style="display: none;">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/Twister/Twister2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container twisterSlides" style="display: none;">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/Twister/Twister2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container twisterSlides" style="display: none;">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/Twister/Twister3.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 3
          </div>
        </div>
        <div class="w3-display-container twisterSlides" style="display: none;">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/Twister/Twister3n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container twisterSlides" style="display: none;">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/Twister/Twister4.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 4
          </div>
        </div>
        <div class="w3-display-container twisterSlides" style="display: none;">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/Twister/Twister4n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 8)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 8)">&#10095;</button>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Weedwacker ++++++++++++++++ -->
<%# <button onclick="openAccordion('Weedwacker')" class="w3-hover-opacity w3-hover-deep-purple w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Weedwacker
</button> %>
<div id="Weedwacker" class="w3-hide w3-container">
  <!-- GIFS -->
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-deep-purple">
        <img src="https://media.giphy.com/media/2vjp9t1xodbovPmIrc/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('WeedwackerMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-deep-purple">
        <img src="https://media.giphy.com/media/yw86k1rPzr62Zv81et/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('WeedwackerCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container weedwackerSlides">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/Weedwacker/Weedwacker1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container weedwackerSlides" style="display: none;">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/Weedwacker/Weedwacker1e.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-deep-orange" style="width: 100%">
            e
          </div>
        </div>
        <div class="w3-display-container weedwackerSlides" style="display: none;">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/Weedwacker/Weedwacker1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container weedwackerSlides" style="display: none;">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/Weedwacker/Weedwacker1a.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-green" style="width: 100%">
            a
          </div>
        </div>
        <div class="w3-display-container weedwackerSlides" style="display: none;">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/Weedwacker/Weedwacker2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container weedwackerSlides" style="display: none;">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/Weedwacker/Weedwacker2e.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-deep-orange" style="width: 100%">
            e
          </div>
        </div>
        <div class="w3-display-container weedwackerSlides" style="display: none;">
          <img src="../img/Count/SHAPES/ANKLEBREAKERS/Weedwacker/Weedwacker2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 9)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 9)">&#10095;</button>
      </div>
    </div>
  </div>
</div>
