<!-- ++++++++++++++++ Spin, 360 ++++++++++++++++ -->
<!-- <button onclick="openAccordion('Spin360')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  360
</button> -->
<div id="Spin360" class="w3-hide w3-container w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-hover-grayscale w3-col w3-margin-bottom m12 l6">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/63MSLbyHiEXMsc0QqK/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('Spin360MoveModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE MOVE</h5>
        </footer>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card">
        <img src="https://media.giphy.com/media/xThtakPpqvdKhyJBII/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('Spin360CountModal').style.display='block'"/>
        <footer class="w3-container w3-green w3-center">
          <h5>THE COUNT</h5>
        </footer>
      </div>
    </div>
  </div>
      <button onclick="openAccordion('Spin360Pit1')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">Snappy
        Head</button>
      <div id="Spin360Pit1" class="w3-border w3-container w3-hide">
        <p>
          Try to keep your head facing forward for as long as possible before you spin it around. Look forward even as your body rotates, and swing it around as quickly as possible when you are forced to, in order to get it facing forward again as soon as possible. This snappy head motion looks clean and also helps you maintain your balance.
        </p>
      </div>
      <button onclick="openAccordion('Spin360Pit2')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">Arm Balance</button>
      <div id="Spin360Pit2" class="w3-border w3-container w3-hide">
        <p>
          Let your arms naturally fly outward to help stabilize your spin, like the edges of a spinning top. As you build muscle memory and internal balance, you will use your arms less and less until they naturally follow the motion of your spin.
        </p>
      </div>
</div>
<!-- ++++++++++++++++ Spin, Inside Foot ++++++++++++++++ -->
<button onclick="openAccordion('InsideSpin')" class="w3-hover-opacity w3-hover-deep-purple w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Inside Spin
</button>
<div id="InsideSpin" class="w3-hide w3-container w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-deep-purple">
        <img src="https://media.giphy.com/media/Xpth3VGJqaI2B7P02g/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('InsideSpinMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-deep-purple">
        <img src="https://media.giphy.com/media/cXRf9mYfmUHjQjIB9E/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('InsideSpinCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container insidespinSlides">
          <img src="../img/Count/SHAPES/SPINS/insideSpin/insideSpin1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container insidespinSlides" style="display: none;">
          <img src="../img/Count/SHAPES/SPINS/insideSpin/insideSpin1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container insidespinSlides" style="display: none;">
          <img src="../img/Count/SHAPES/SPINS/insideSpin/insideSpin2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 34)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 34)">&#10095;</button>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Spin, Outside Foot ++++++++++++++++ -->
<button onclick="openAccordion('OutsideSpin')" class="w3-hover-opacity w3-hover-deep-purple w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Outside Spin
</button>
<div id="OutsideSpin" class="w3-hide w3-container w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-deep-purple">
        <img src="https://media.giphy.com/media/XIFmpNuPT2N9TfTzdM/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('OutsideSpinMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-deep-purple">
        <img src="https://media.giphy.com/media/mWhZlKGxuiCQp1OMa3/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('OutsideSpinCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container outsidespinSlides">
          <img src="../img/Count/SHAPES/SPINS/OutsideSpin/OutsideSpin1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container outsidespinSlides" style="display: none;">
          <img src="../img/Count/SHAPES/SPINS/OutsideSpin/OutsideSpin1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container outsidespinSlides" style="display: none;">
          <img src="../img/Count/SHAPES/SPINS/OutsideSpin/OutsideSpin2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container outsidespinSlides" style="display: none;">
          <img src="../img/Count/SHAPES/SPINS/OutsideSpin/OutsideSpin3.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 3
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 35)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 35)">&#10095;</button>
      </div>
    </div>
  </div>
</div>
