<!-- ++++++++++++++++ Fly Feet ++++++++++++++++ -->
<button onclick="openAccordion('FlyFeet')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Fly Feet
</button>
<div id="FlyFeet" class="w3-hide w3-container w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-amber">
        <img src="https://media.giphy.com/media/3aXfINwcEbMfe9STbU/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('FlyFeetMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-amber">
        <img src="https://media.giphy.com/media/31UJqa3egfW0hXVvzI/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('FlyFeetCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container flyfeetSlides">
          <img src="../img/Count/SHAPES/FLYFEET/FlyFeet/FlyFeet1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container flyfeetSlides" style="display: none;">
          <img src="../img/Count/SHAPES/FLYFEET/FlyFeet/FlyFeet1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container flyfeetSlides" style="display: none;">
          <img src="../img/Count/SHAPES/FLYFEET/FlyFeet/FlyFeet2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container flyfeetSlides" style="display: none;">
          <img src="../img/Count/SHAPES/FLYFEET/FlyFeet/FlyFeet2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 22)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 22)">&#10095;</button>
      </div>
    </div>
  </div>
  <!-- TEXT -->
  <%# <div class="w3-container w3-padding">
    <button onclick="openAccordion('FlyFeetWalkthrough')" class="w3-hover-opacity w3-hover-green w3-large w3-button w3-bar w3-left-align w3-block">WALKTHROUGH</button>
    <div id="FlyFeetWalkthrough" class="w3-border w3-container w3-hide">
      <ul class="w3-ul">
        <li>
          Start in toe-heel stance, right foot at front-left on heel and left foot to back-right on toe, leaning slightly to right
        </li>
        <li>
          Step forward with right foot to middle of stance, leaning slightly to right, feet side by side
        </li>
        <li>
          Step with left foot flat to right-front of stance, leaning on foot so that right foot leaves ground
        </li>
        <li>
          Fall backwards back onto right foot, while bringing left foot to left of stance - all while leaning slightly right
        </li>
        <li>
          Lean back and land of left foot at far back of stance, right foot coming up in air slightly
        </li>
        <li>
          Lean forward and fall on right foot again, left foot coming up and around to front of stance
        </li>
        <li>
          Keep repeating
        </li>
      </ul>
    </div>
    <button onclick="openAccordion('FlyFeetPit1')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">Low Center of Gravity</button>
    <div id="FlyFeetPit1" class="w3-border w3-container w3-hide">
      <p>
        Minimize the bounce in your step and the length of your gait to hug the ground as close as possible. The longer you are in the air, the slower your overall motion. Shortening your gait makes the move look snappy and crisp by minimizing the variation in each stride. The rotation of your move foot is especially key in achieving this.
      </p>
    </div>
    <button onclick="openAccordion('FlyFeetPit2')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">Straight Leg, Bent Leg</button>
    <div id="FlyFeetPit2" class="w3-border w3-container w3-hide">
      <p>
        Do your best to keep your non-pivot foot straight as you go through the motions. Keep your plant leg should be straight as your non-pivot foot moves behind you, but should jut/bend away from the direction you are leaning as you get to the front of the stance.
      </p>
    </div>
    <button onclick="openAccordion('FlyFeetPit3')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">Arms for Balance</button>
    <div id="FlyFeetPit3" class="w3-border w3-container w3-hide">
      <p>
        As if to make the "C" gesture in the YMCA dance, extend your arms out (with your right arm higher if you were doing a left FlyFeet, and vice versa) and let them naturally adjust as you perform the move to balance your body.
      </p>
    </div>
  </div> %>
</div>
<!-- ++++++++++++++++ Fly Feet (Reverse) ++++++++++++++++ -->
<button onclick="openAccordion('FlyFeetRev')" class="w3-hover-opacity w3-hover-deep-purple w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Fly Feet (Reverse)
</button>
<div id="FlyFeetRev" class="w3-hide w3-container w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-deep-purple">
        <img src="https://media.giphy.com/media/AiFMxxR4hZNSiyebn1/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('FlyFeetRevMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-deep-purple">
        <img src="https://media.giphy.com/media/14SE4NdoFWEhTjITqc/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('FlyFeetRevCountModal').style.display='block'"/>
      </div>
    </div>
  </div><!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container flyfeetrevSlides">
          <img src="../img/Count/SHAPES/FLYFEET/FlyFeetRev/FlyFeetRev1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container flyfeetrevSlides" style="display: none;">
          <img src="../img/Count/SHAPES/FLYFEET/FlyFeetRev/FlyFeetRev1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container flyfeetrevSlides" style="display: none;">
          <img src="../img/Count/SHAPES/FLYFEET/FlyFeetRev/FlyFeetRev2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container flyfeetrevSlides" style="display: none;">
          <img src="../img/Count/SHAPES/FLYFEET/FlyFeetRev/FlyFeetRev2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 23)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 23)">&#10095;</button>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Giddy Up ++++++++++++++++ -->
<button onclick="openAccordion('GiddyUp')" class="w3-hover-opacity w3-hover-green w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Giddy Up
</button>
<div id="GiddyUp" class="w3-hide w3-container w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-green">
        <img src="https://media.giphy.com/media/i2PJ12HBwMstU5HSug/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('GiddyUpMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-green">
        <img src="https://media.giphy.com/media/Ah3saklHDohpfQkSaV/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('GiddyUpCountModal').style.display='block'"/>
      </div>
    </div>
  </div><!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container giddyupSlides">
          <img src="../img/Count/SHAPES/FLYFEET/GiddyUp/GiddyUp1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container giddyupSlides" style="display: none;">
          <img src="../img/Count/SHAPES/FLYFEET/GiddyUp/GiddyUp2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container giddyupSlides" style="display: none;">
          <img src="../img/Count/SHAPES/FLYFEET/GiddyUp/GiddyUp2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container giddyupSlides" style="display: none;">
          <img src="../img/Count/SHAPES/FLYFEET/GiddyUp/GiddyUp3.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 3
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 24)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 24)">&#10095;</button>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Karaoke ++++++++++++++++ -->
<button onclick="openAccordion('Karaoke')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Karaoke
</button>
<div id="Karaoke" class="w3-hide w3-container w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-green">
        <img src="https://media.giphy.com/media/mMDBo5bcCpgQ1iYzj6/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('KaraokeMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-green">
        <img src="https://media.giphy.com/media/1ioiU1yxEp8LwaSpWO/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('KaraokeCountModal').style.display='block'"/>
      </div>
    </div>
  </div><!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container karaokeSlides">
          <img src="../img/Count/SHAPES/FLYFEET/Karaoke/Karaoke1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container karaokeSlides" style="display: none;">
          <img src="../img/Count/SHAPES/FLYFEET/Karaoke/Karaoke1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container karaokeSlides" style="display: none;">
          <img src="../img/Count/SHAPES/FLYFEET/Karaoke/Karaoke2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container karaokeSlides" style="display: none;">
          <img src="../img/Count/SHAPES/FLYFEET/Karaoke/Karaoke3.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 3
          </div>
        </div>
        <div class="w3-display-container karaokeSlides" style="display: none;">
          <img src="../img/Count/SHAPES/FLYFEET/Karaoke/Karaoke3n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container karaokeSlides" style="display: none;">
          <img src="../img/Count/SHAPES/FLYFEET/Karaoke/Karaoke4.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 4
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 25)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 25)">&#10095;</button>
      </div>
    </div>
  </div>
  <!-- TEXT -->
  <%# <div class="w3-container w3-padding">
    <button onclick="openAccordion('KaraokeWalkthrough')" class="w3-hover-opacity w3-hover-green w3-large w3-button w3-bar w3-left-align w3-block">WALKTHROUGH</button>
    <div id="KaraokeWalkthrough" class="w3-border w3-container w3-hide">
      <ul class="w3-ul">
        <li>
          Perform a normal FlyFeet with your left leg as your plant leg. As your right leg lands in front of your left leg, step back into the stance, with your right leg up and next to your left shin.
        </li>
        <li>
          Now, instead of bringing your outside leg behind your pivot leg, step and land to your right. As your right leg lands, it is now your plant foot.
        </li>
        <li>
          Step your left leg over and behind your right leg, leaning your body over to your right.
        </li>
        <li>
          Bring your left foot forward and over your right leg in the appropriate execution of a FlyFeet.
        </li>
        <li>
          Perform normal FlyFeets and just switch off as detailed in step one.
        </li>
      </ul>
    </div>
    <button onclick="openAccordion('KaraokePit1')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">Lean Less</button>
    <div id="KaraokePit1" class="w3-border w3-container w3-hide">
      <p>
        Since you're switching so often, it'd be helpful to lean a little less aggressively with each side. You can sacrifice that aspect for the ability to switch off left and right. This move also serves good for walking forward in beat, without slowing down to the beat of the song.
      </p>
    </div>
    <button onclick="openAccordion('KaraokePit2')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block"></button>
  </div> %>
</div>
<!-- ++++++++++++++++ Whacky ++++++++++++++++ -->
<button onclick="openAccordion('Whacky')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Whacky
</button>
<div id="Whacky" class="w3-hide w3-container w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-amber">
        <img src="https://media.giphy.com/media/8mBRcYSKZ5LwNNMYyK/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('WhackyMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-amber">
        <img src="https://media.giphy.com/media/3DxQdmm9W9LOZzlkGR/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('WhackyCountModal').style.display='block'"/>
      </div>
    </div>
  </div><!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container whackySlides">
          <img src="../img/Count/SHAPES/FLYFEET/Whacky/Whacky1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container whackySlides" style="display: none;">
          <img src="../img/Count/SHAPES/FLYFEET/Whacky/Whacky1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container whackySlides" style="display: none;">
          <img src="../img/Count/SHAPES/FLYFEET/Whacky/Whacky2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container whackySlides" style="display: none;">
          <img src="../img/Count/SHAPES/FLYFEET/Whacky/Whacky2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 26)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 26)">&#10095;</button>
      </div>
    </div>
  </div>
  <!-- TEXT -->
  <%# <div class="w3-container w3-padding">
    <button onclick="openAccordion('WhackyWalkthrough')" class="w3-hover-opacity w3-hover-green w3-large w3-button w3-bar w3-left-align w3-block">WALKTHROUGH</button>
    <div id="WhackyWalkthrough" class="w3-border w3-container w3-hide">
      <ul class="w3-ul">
        <li>
          Start in toe-heel stance, right foot at front-left on heel and left foot to back-right on toe, leaning slightly to right
        </li>
        <li>
          Step forward with right foot to middle of stance, leaning slightly to right, feet side by side
        </li>
        <li>
          Bring left foot to front right of stance but hovering off ground - balance on right leg by leaning slight back
        </li>
        <li>
          Bring left foot back to middle-left of stance
        </li>
        <li>
          Bring left foot to far back of stance and land flat, bringing right foot up off ground as you land
        </li>
        <li>
          Repeat
        </li>
      </ul>
    </div>
    <button onclick="openAccordion('WhackyPit1')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">Low Center of Gravity</button>
    <div id="WhackyPit1" class="w3-border w3-container w3-hide">
      <p>
        Minimize the bounce in your step and the length of your gait to hug the ground as close as possible. The longer you are in the air, the slower your overall motion. Shortening your gait makes the move look snappy and crisp by minimizing the variation in each stride. The rotation of your move foot is especially key in achieving this. The more your legs travel each move (especially as you bring your front leg across your body, hovering), the more effort you will have to put into keeping balance, which slows down your motion and introduces variation in how each iteration of the move looks (a bad thing, you want uniformity).
      </p>
    </div>
    <button onclick="openAccordion('WhackyPit2')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">Straight Leg, Bent Leg</button>
    <div id="WhackyPit2" class="w3-border w3-container w3-hide">
      <p>
        Do your best to keep your non-pivot foot straight as you go through the motions. Keep your plant leg should be straight as your non-pivot foot moves behind you.
      </p>
    </div>
  </div> %>
</div>
