<!-- ++++++++++++++++ Cuts ++++++++++++++++ -->
<button onclick="openAccordion('Cuts')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Cuts
</button>
<div id="Cuts" class="w3-hide w3-container w3-margin-bottom">
  <!-- GIFS -->
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-green">
        <img src="https://media.giphy.com/media/fnmmm1PZSAdPJjCMdw/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-green">
        <img src="https://media.giphy.com/media/jT5ImNJ7O2Ht1VqN7z/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container cutsSlides">
          <img src="../img/Count/SHAPES/CUTS/Cuts/Cuts1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container cutsSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CUTS/Cuts/Cuts1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container cutsSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CUTS/Cuts/Cuts2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container cutsSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CUTS/Cuts/Cuts2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 16)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 16)">&#10095;</button>
      </div>
    </div>
  </div>
  <!-- TEXT -->
  <%# <div class="w3-container w3-padding">
    <button onclick="openAccordion('CutsWalkthrough')" class="w3-hover-opacity w3-hover-green w3-large w3-button w3-bar w3-left-align w3-block">WALKTHROUGH</button>
    <div id="CutsWalkthrough" class="w3-border w3-container w3-hide">
      <ul class="w3-ul">
        <li>
          Jump into toe-heel stance, right foot on toe to back left and left foot on heel to front right
        </li>
        <li>
          Bounce left foot backwards, landing flat at direct middle of stance (below you) while bringing right foot up/forwards tucked next to shin
        </li>
        <li>
          Land right foot flat and to front left of stance while pushing back left foot to back right (on its toes)
        </li>
        <li>
          Do the same now, but with feet reversed
        </li>
      </ul>
    </div>
    <button onclick="openAccordion('CutsPit2')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">Keep It Tight</button>
    <div id="CutsPit2" class="w3-border w3-container w3-hide">
      <p>
        You’re not bringing your feet around in a semi circle fashion in the same sense as with the criss-crosses and alt toe points - instead, you are putting one foot in front of the other in the same fashion as the running man. Keep the half counts tight in the sense of having your up foot pinned next to your down foot. Imagine a two perpendicular planes that each foot goes along back and forth but not off.
      </p>
    </div>
  </div> %>
</div>
<!-- ++++++++++++++++ Reverse Cuts ++++++++++++++++ -->
<button onclick="openAccordion('CutsRev')" class="w3-hover-opacity w3-hover-red w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Cuts (Reverse)
</button>
<div id="CutsRev" class="w3-hide w3-container w3-margin-bottom">
  <!-- GIFS -->
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-red">
        <img src="https://media.giphy.com/media/1ZjRh5i8hzyG8vHZq3/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsRevMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-col w3-hover-opacity w3-center m12 l6">
      <div class="w3-card w3-bottombar w3-border-red">
        <img src="https://media.giphy.com/media/p3n88oyHf3b2d7EsUt/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CutsRevCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container cutsrevSlides">
          <img src="../img/Count/SHAPES/CUTS/CutsRev/CutsRev1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container cutsrevSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CUTS/CutsRev/CutsRev1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container cutsrevSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CUTS/CutsRev/CutsRev2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container cutsrevSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CUTS/CutsRev/CutsRev2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 17)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 17)">&#10095;</button>
      </div>
    </div>
  </div>
  <!-- TEXT -->
  <%# <div class="w3-container w3-padding">
    <button onclick="openAccordion('CutsRevWalkthrough')" class="w3-hover-opacity w3-hover-green w3-large w3-button w3-bar w3-left-align w3-block">WALKTHROUGH</button>
    <div id="CutsRevWalkthrough" class="w3-border w3-container w3-hide">
      <ul class="w3-ul">
        <li>
          Jump into toe heel stance, left foot on heel to front right of stance, right foot on toe to back left
        </li>
        <li>
          Bounce right foot forward, to flat in center of stance, bringing left foot upwards and in next to your shin
        </li>
        <li>
          Bring down left foot flat to back right of stance while pushing right foot forward on heel to front left of stance
        </li>
        <li>
          Repeat, but with left as right and vice versa
        </li>
      </ul>
    </div>
    <button onclick="openAccordion('CutsRevPit1')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">Floaty Feet</button>
    <div id="CutsRevPit1" class="w3-border w3-container w3-hide">
      <p>
        this motion will feel unnatural in the same way the running man first felt unnatural to have both feet landing at each beat (and having your front foot hover slightly off the ground, kicking forward - terribly goofy looking stuff). To remediate the problem of Pitfall 2 here, accentuate the twist of your hips to more easily get down the flow of reversing cuts.
      </p>
    </div>
  </div> %>
</div>
<!-- ++++++++++++++++ Front Stutter ++++++++++++++++ -->
<button onclick="openAccordion('FrontStutter')" class="w3-hover-opacity w3-hover-green w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Front Stutter
</button>
<div id="FrontStutter" class="w3-hide w3-container w3-margin-bottom">
  <!-- GIFS -->
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-green">
        <img src="https://media.giphy.com/media/EQ86L2PcYijKEHr6L6/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('FrontStutterMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-green">
        <img src="https://media.giphy.com/media/5T0qxXpLkARoYCSSmO/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('FrontStutterCountModal').style.display='block'"/>
      </div>
    </div>
  </div><!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container frontstutterSlides">
          <img src="../img/Count/SHAPES/CUTS/FrontStutter/FrontStutter1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container frontstutterSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CUTS/FrontStutter/FrontStutter1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container frontstutterSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CUTS/FrontStutter/FrontStutter2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container frontstutterSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CUTS/FrontStutter/FrontStutter2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container frontstutterSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CUTS/FrontStutter/FrontStutter3.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 3
          </div>
        </div>
        <div class="w3-display-container frontstutterSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CUTS/FrontStutter/FrontStutter3n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 18)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 18)">&#10095;</button>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Rear Kick ++++++++++++++++ -->
<button onclick="openAccordion('RearKick')" class="w3-hover-opacity w3-hover-red w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Rear Kick
</button>
<div id="RearKick" class="w3-hide w3-container w3-margin-bottom">
  <!-- GIFS -->
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-red">
        <img src="https://media.giphy.com/media/1hAXxv2VaPDlrrGGgr/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RearKickMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-red">
        <img src="https://media.giphy.com/media/2YtbJgfsnov3f8i22M/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RearKickCountModal').style.display='block'"/>
      </div>
    </div>
  </div><!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container rearkickSlides">
          <img src="../img/Count/SHAPES/CUTS/RearKick/RearKick1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container rearkickSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CUTS/RearKick/RearKick1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container rearkickSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CUTS/RearKick/RearKick2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container rearkickSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CUTS/RearKick/RearKick2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container rearkickSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CUTS/RearKick/RearKick3.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 3
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 19)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 19)">&#10095;</button>
      </div>
    </div>
  </div>
  <!-- TEXT -->
  <%# <div class="w3-container w3-padding">
    <button onclick="openAccordion('RearKickWalkthrough')" class="w3-hover-opacity w3-hover-green w3-large w3-button w3-bar w3-left-align w3-block">WALKTHROUGH</button>
    <div id="RearKickWalkthrough" class="w3-border w3-container w3-hide">
      <ul class="w3-ul">
        <li>
          Start from toe-heel stance, left foot to front right on heel and right foot to back left on toe
        </li>
        <li>
          Bring left foot back and flat at center of stance, right foot up and tucked next to shin
        </li>
        <li>
          Push right foot backwards across to back left of stance, brushing ground with toe
        </li>
        <li>
          Without pausing, continue brush of right foot upwards and then around to the right
        </li>
        <li>
          As right foot comes to right, swing it down and around to front left of stance, landing on heel
        </li>
        <li>
          As right foot is swinging around, left foot should be planted and pivoting on toe - end in toe-heel stance, left foot on toe
        </li>
      </ul>
    </div>
    <button onclick="openAccordion('RearKickPit1')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">Half Figure 8</button>
    <div id="RearKickPit1" class="w3-border w3-container w3-hide">
      <p>
        If looking at your body directly from the rear, imagine the foot with which you are kicking back is a propellor - if it's your right foot, it'll spin clockwise, and vice versa with the left. As you kick backwards with your foot, it should spin in a circular motion like said propellor; first brushing the ground and then continuing around back up in a circular motion. Now, from a bird's eye view of your body, also picture your foot moving in a figure 8 motion from back to front. Your foot should make half the figure 8 (behind you) until it comes to a halt at the toe heel stance of cuts (thus not completing the second half of the figure 8).
      </p>
    </div>
    <button onclick="openAccordion('RearKickPit2')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">Barely Brushing</button>
    <div id="RearKickPit2" class="w3-border w3-container w3-hide">
      <p>
        As if you were just doing a cuts -&gt rear stutter, you'll be bringing your rear foot back backwards from the midstance of cuts. However, you won't be landing on it - instead, you kick/push right through what would have been you landing on your rear foot. Brush the ground ever so slightly to keep the motion smooth. There's no pausing as you kick bacwards. It's one single motion of kicking backwards and landing in the toe-heel stance of cuts.
      </p>
    </div>
  </div> %>
</div>
<!-- ++++++++++++++++ VSteppin ++++++++++++++++ -->
<button onclick="openAccordion('VSteppin')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block">
  V-Steppin
</button>
<div id="VSteppin" class="w3-hide w3-container w3-margin-bottom">
  <!-- GIFS -->
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-green">
        <img src="https://media.giphy.com/media/5wFkMmifLkK0DoSoRP/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('VSteppinMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-green">
        <img src="https://media.giphy.com/media/1X7mEQCbqIH3ap5veI/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('VSteppinCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container vsteppinSlides">
          <img src="../img/Count/SHAPES/CUTS/VSteppin/VSteppin1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container vsteppinSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CUTS/VSteppin/VSteppin1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container vsteppinSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CUTS/VSteppin/VSteppin2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container vsteppinSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CUTS/VSteppin/VSteppin2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container vsteppinSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CUTS/VSteppin/VSteppin3.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 3
          </div>
        </div>
        <div class="w3-display-container vsteppinSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CUTS/VSteppin/VSteppin3n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container vsteppinSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CUTS/VSteppin/VSteppin4.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 4
          </div>
        </div>
        <div class="w3-display-container vsteppinSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CUTS/VSteppin/VSteppin4n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 20)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 20)">&#10095;</button>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Yanked ++++++++++++++++ -->
<button onclick="openAccordion('Yanked')" class="w3-hover-opacity w3-hover-green w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Yanked
</button>
<div id="Yanked" class="w3-hide w3-container w3-margin-bottom">
  <!-- GIFS -->
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-green">
        <img src="https://media.giphy.com/media/3gYTno3GMwtcaoHCsI/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('YankedMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-green">
        <img src="https://media.giphy.com/media/47K1MFl9EwvMl9CKGG/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('YankedCountModal').style.display='block'"/>
      </div>
    </div>
  </div><!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container yankedSlides">
          <img src="../img/Count/SHAPES/CUTS/Yanked/Yanked1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container yankedSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CUTS/Yanked/Yanked1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container yankedSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CUTS/Yanked/Yanked2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container yankedSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CUTS/Yanked/Yanked2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 21)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 21)">&#10095;</button>
      </div>
    </div>
  </div>
</div>
