<!-- ++++++++++++++++ Big Willy Style ++++++++++++++++ -->
<button onclick="openAccordion('BigWillyStyle')" class="w3-hover-opacity w3-hover-green w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Big Willy Style
</button>
<div id="BigWillyStyle" class="w3-hide w3-container w3-margin-bottom">
  <!-- GIFS -->
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-green">
        <img src="https://media.giphy.com/media/MV1nDfk6ul60ng5t0C/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('BigWillyStyleMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-green">
        <img src="https://media.giphy.com/media/1xlKKaa8gDchxzI9RH/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('BigWillyStyleCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container bigwillystyleSlides">
          <img src="../img/Count/SHAPES/CRISSCROSSES/BigWillyStyle/BigWillyStyle1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container bigwillystyleSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CRISSCROSSES/BigWillyStyle/BigWillyStyle1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container bigwillystyleSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CRISSCROSSES/BigWillyStyle/BigWillyStyle2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container bigwillystyleSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CRISSCROSSES/BigWillyStyle/BigWillyStyle2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 10)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 10)">&#10095;</button>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Charleston ++++++++++++++++ -->
<button onclick="openAccordion('Charleston')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Charleston
</button>
<div id="Charleston" class="w3-hide w3-container w3-margin-bottom">
  <!-- GIFS -->
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-green">
        <img src="https://media.giphy.com/media/pzdG9rwgKnScAl3Fss/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CharlestonMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-green">
        <img src="https://media.giphy.com/media/vxpDhqAogg8T93YO0K/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CharlestonCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container charlestonSlides">
          <img src="../img/Count/SHAPES/CRISSCROSSES/Charleston/Charleston1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container charlestonSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CRISSCROSSES/Charleston/Charleston1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container charlestonSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CRISSCROSSES/Charleston/Charleston2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container charlestonSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CRISSCROSSES/Charleston/Charleston2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 11)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 11)">&#10095;</button>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Criss Cross ++++++++++++++++ -->
<button onclick="openAccordion('CrissCross')" class="w3-hover-opacity w3-hover-green w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Criss Cross
</button>
<div id="CrissCross" class="w3-hide w3-container w3-margin-bottom">
  <!-- GIFS -->
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-green">
        <img src="https://media.giphy.com/media/300ZuyC7pAD6lvJYdj/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CrissCrossMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-green">
        <img src="https://media.giphy.com/media/fnjx8ScFkwZLMcI7kU/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CrissCrossCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container crisscrossSlides">
          <img src="../img/Count/SHAPES/CRISSCROSSES/CrissCross/CrissCross1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container crisscrossSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CRISSCROSSES/CrissCross/CrissCross1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container crisscrossSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CRISSCROSSES/CrissCross/CrissCross2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container crisscrossSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CRISSCROSSES/CrissCross/CrissCross2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 12)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 12)">&#10095;</button>
      </div>
    </div>
  </div>
  <!-- TEXT -->
  <%# <div class="w3-container w3-padding">
    <button onclick="openAccordion('CrissCrossWalkthrough')" class="w3-hover-opacity w3-hover-green w3-large w3-button w3-bar w3-left-align w3-block">WALKTHROUGH</button>
    <div id="CrissCrossWalkthrough" class="w3-border w3-container w3-hide">
      <ul class="w3-ul">
        <li>
          Feet can start apart or together, leaning forward on balls of feet
        </li>
        <li>
          Leading with heels, push legs apart until slightly more than shoulder length apart; toes are now pointing criss cross at 30 degree angle
        </li>
        <li>
          Reverse, and pull legs together (leading with heels) until feet are crossed, toes points outward
        </li>
        <li>
          Do not jump - instead, spring slightly upward with each motion (see "Gliding"). Repeat
        </li>
      </ul>
    </div>
    <button onclick="openAccordion('CrissCrossPit1')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">Gliding</button>
    <div id="CrissCrossPit1" class="w3-border w3-container w3-hide">
      <p>
        To the untrained (at least to mine originally), it may appear as if you should jump outward and inward each time you uncross and cross your feet. You shouldn't be jumping, because you can't swap quickly enough without looking unwieldy, however, you should instead "bounce" outward and inward. You should feel light and springy on your toes, and with each swap, you should spring ever so slightly upwards so that you can pull or push your legs apart without the leaving the ground. Practice springing up and down on your toes until you find the right amount of bounce in your step in order to glide your feet across the ground.
      </p>
    </div>
    <button onclick="openAccordion('CrissCrossPit2')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">Poor Twist</button>
    <div id="CrissCrossPit2" class="w3-border w3-container w3-hide">
      <p>
        Make sure you accentuate the twist of your heels in and out to emphasize that your feet are crossing over each other. Lead with your heels with each reverse to push your legs apart or together.
      </p>
    </div>
    <button onclick="openAccordion('CrissCrossPit3')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">Goofy Knees</button>
    <div id="CrissCrossPit3" class="w3-border w3-container w3-hide">
      <p>
        Try to keep your legs as straight as possible. The more bent your knees are, the more goofy the move will look. Of course, don’t locks your knees as that could cause injury - but definitely try to keep your legs as stiff as possible. If you are finding this particularly difficult, it may likely be because you are jumping.
      </p>
    </div>
  </div> %>
</div>
<!-- ++++++++++++++++ ECruz ++++++++++++++++ -->
<button onclick="openAccordion('ECruz')" class="w3-hover-opacity w3-hover-deep-purple w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  E Cruz
</button>
<div id="ECruz" class="w3-hide w3-container w3-margin-bottom">
  <!-- GIFS -->
  <div class="w3-row-padding">
    <div class="w3-hover-grayscale w3-half w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-deep-purple">
        <img src="https://media.giphy.com/media/1dKRYJcE9RkcveN7cf/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ECruzMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-hover-grayscale w3-half w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-deep-purple">
        <img src="https://media.giphy.com/media/1lDfwVHt6iNPPCC4gr/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ECruzCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container ecruzSlides">
          <img src="../img/Count/SHAPES/CRISSCROSSES/ECruz/ECruz1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container ecruzSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CRISSCROSSES/ECruz/ECruz1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container ecruzSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CRISSCROSSES/ECruz/ECruz2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container ecruzSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CRISSCROSSES/ECruz/ECruz2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 13)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 13)">&#10095;</button>
      </div>
    </div>
  </div>
  <!-- TEXT -->
  <%# <div class="w3-container w3-padding">
    <button onclick="openAccordion('ECruzWalkthrough')" class="w3-hover-opacity w3-hover-green w3-large w3-button w3-bar w3-left-align w3-block">WALKTHROUGH</button>
    <div id="ECruzWalkthrough" class="w3-border w3-container w3-hide">
      <ul class="w3-ul">
        <li>
          Place right toe down (ankle bent as far as possible) to front left of left foot, left foot behind and slightly right
        </li>
        <li>
          Bring right toe back and left toe forward both to middle of stance, right foot slightly more on toes than left foot is
        </li>
        <li>
          Bring left foot forward and place on toes to right of your right foot, with right foot on toes behind and to left
        </li>
        <li>
          Keep reversing
        </li>
      </ul>
    </div>
    <button onclick="openAccordion('ECruzPit1')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">Depth Problem</button>
    <div id="ECruzPit1" class="w3-border w3-container w3-hide">
      <p>
        Doesn’t work quite like the normal criss cross, where you are pulling your feet together on practically the same plane intersecting your feet at the starting position. Instead, there is quite a deal of hip twist involved and putting the front foot further forward in front of the rear foot so that one foot is practically in front on the other and your hips are rotated nearly 90 degrees.
      </p>
    </div>
    <button onclick="openAccordion('ECruzPit2')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">Wrong Reverse</button>
    <div id="ECruzPit2" class="w3-border w3-container w3-hide">
      <p>
        There is no jumping, all sliding and slight bouncing involved in getting the mirage of your feet gliding in front of each other. Note how each foot follows a circuit of switching between low on its toes when in the rear, and high on its toes when in front. There is practically a reverse every single beat, each foot following its own reverse that is exactly out of phase (as in when one foot is a the crest of its route (e.g., highest on its toes) the other foot is at the nadir of its route (i.e., lowest on its toes). This dual reverse aspect is what makes this move unintuitive at first.
      </p>
    </div>
  </div> %>
</div>
<!-- ++++++++++++++++ Turn N Burn ++++++++++++++++ -->
<button onclick="openAccordion('TurnNBurn')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Turn N Burn
</button>
<div id="TurnNBurn" class="w3-hide w3-container w3-margin-bottom">
  <!-- GIFS -->
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-amber">
        <img src="https://media.giphy.com/media/5YbO8TvC09NpBegR15/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('TurnNBurnMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-amber">
        <img src="https://media.giphy.com/media/7OVQJkJzMh2r1DTxKD/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('TurnNBurnCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container turnnburnSlides">
          <img src="../img/Count/SHAPES/CRISSCROSSES/TurnNBurn/TurnNBurn1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container turnnburnSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CRISSCROSSES/TurnNBurn/TurnNBurn1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container turnnburnSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CRISSCROSSES/TurnNBurn/TurnNBurn2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container turnnburnSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CRISSCROSSES/TurnNBurn/TurnNBurn2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 14)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 14)">&#10095;</button>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Zig Zag ++++++++++++++++ -->
<button onclick="openAccordion('ZigZag')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Zig Zag
</button>
<div id="ZigZag" class="w3-hide w3-container w3-margin-bottom">
  <!-- GIFS -->
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-amber">
        <img src="https://media.giphy.com/media/fxelVW9kKwuYETrdHm/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ZigZagMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-amber">
        <img src="https://media.giphy.com/media/6bbWo5Rr6w0S7JS0cZ/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ZigZagCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container zigzagSlides">
          <img src="../img/Count/SHAPES/CRISSCROSSES/ZigZag/ZigZag1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container zigzagSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CRISSCROSSES/ZigZag/ZigZag1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container zigzagSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CRISSCROSSES/ZigZag/ZigZag2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container zigzagSlides" style="display: none;">
          <img src="../img/Count/SHAPES/CRISSCROSSES/ZigZag/ZigZag2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 15)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 15)">&#10095;</button>
      </div>
    </div>
  </div>
</div>
