<!-- ++++++++++++++++ About Face ++++++++++++++++ -->
<button onclick="openAccordion('AboutFace')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  About Face
</button>
<div id="AboutFace" class="w3-hide w3-container w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-amber">
        <img src="https://media.giphy.com/media/RkJKmdawLAEZO3IZlO/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('AboutFaceMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-amber">
        <img src="https://media.giphy.com/media/7NR4mbDngaBMXnf9bk/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('AboutFaceCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container aboutfaceSlides">
          <img src="../img/Count/SHUFFLE/STUTTERS/AboutFace/AboutFace1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container aboutfaceSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/STUTTERS/AboutFace/AboutFace1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container aboutfaceSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/STUTTERS/AboutFace/AboutFace2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container aboutfaceSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/STUTTERS/AboutFace/AboutFace2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container aboutfaceSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/STUTTERS/AboutFace/AboutFace3.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 3
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 18)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 18)">&#10095;</button>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Forwards Launch ++++++++++++++++ -->
<button onclick="openAccordion('ForwardLaunch')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Forward Launch
</button>
<div id="ForwardLaunch" class="w3-hide w3-container w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-amber">
        <img src="https://media.giphy.com/media/1wmxDMeCPilm4ApDNg/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ForwardLaunchMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-amber">
        <img src="https://media.giphy.com/media/C89nHOFQlpQLb4sWXN/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ForwardLaunchCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container forwardlaunchSlides">
          <img src="../img/Count/SHUFFLE/STUTTERS/ForwardLaunch/ForwardLaunch1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container forwardlaunchSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/STUTTERS/ForwardLaunch/ForwardLaunch1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container forwardlaunchSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/STUTTERS/ForwardLaunch/ForwardLaunch2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container forwardlaunchSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/STUTTERS/ForwardLaunch/ForwardLaunch2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container forwardlaunchSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/STUTTERS/ForwardLaunch/ForwardLaunch3.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 3
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 19)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 19)">&#10095;</button>
      </div>
    </div>
  </div>
  <!-- TEXT -->
  <%# <div class="w3-container w3-padding">
    <button onclick="openAccordion('ForwardLaunchWalkthrough')" class="w3-hover-opacity w3-hover-green w3-large w3-button w3-bar w3-left-align w3-block">WALKTHROUGH</button>
    <div id="ForwardLaunchWalkthrough" class="w3-border w3-container w3-hide">
      <ul class="w3-ul">
        <li>
          With your right foot somewhere in front of you and your left foot behind you, lean back and fall onto your right foot
        </li>
        <li>
          As right foot plants, immediately kick it back directly forward in front of you as you bring left foot back and land on it
        </li>
        <li>
          Repeat again and land on your right foot
        </li>
        <li>
          As soon as you land on your right foot, take a generous hop forward on your right foot
        </li>
        <li>
          As you land from your hop, kick your left foot backwards (in the air, not on the ground) to propel yourself a little bit more forward; as you kick, the momentum should push your right foot forward a little more into a little hop
        </li>
        <li>
          Now, reverse the kicking motion of your left foot, which should also bring your right foot back a smidge (in another mini hop)
        </li>
        <li>
          Take a big hop backwards on your right foot and repeat - you are back again at step 1, of falling back into your right foot
        </li>
      </ul>
    </div>
    <button onclick="openAccordion('ForwardLaunchPit1')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">One Foot For It All</button>
    <div id="ForwardLaunchPit1" class="w3-border w3-container w3-hide">
      <p>
        Naturally, you're body is going to switch legs when you hop forward, and especially when you hop backwards. The theme of the move is that you're propelling yourself forwards and backwards on one single foot. This is kind of like an altered hopscotch move - you're using one leg for all the hops.
      </p>
    </div>
    <button onclick="openAccordion('ForwardLaunchPit2')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">Vague Grasp of Rear LoopDeLoop</button>
    <div id="ForwardLaunchPit2" class="w3-border w3-container w3-hide">
      <p>
        You only need a vague grasp of the rear loopdeloop to start learning this move. It comes into play with the kick forward, after you hop forward. Once you become familiar with this move, the loopdeloops will become a lot easier to learn in fact.
      </p>
    </div>
  </div> %>
</div>
<!-- ++++++++++++++++ Launch Back ++++++++++++++++ -->
<button onclick="openAccordion('LaunchBack')" class="w3-hover-opacity w3-hover-red w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Launch Back
</button>
<div id="LaunchBack" class="w3-hide w3-container w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-red">
        <img src="https://media.giphy.com/media/MRXmySP4fEpSowInOy/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LaunchBackMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-red">
        <img src="https://media.giphy.com/media/jVFqgvGY4ENEyAfxEU/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LaunchBackCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container launchbackSlides">
          <img src="../img/Count/SHUFFLE/STUTTERS/LaunchBack/LaunchBack1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container launchbackSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/STUTTERS/LaunchBack/LaunchBack1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container launchbackSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/STUTTERS/LaunchBack/LaunchBack2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container launchbackSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/STUTTERS/LaunchBack/LaunchBack2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container launchbackSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/STUTTERS/LaunchBack/LaunchBack3.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 3
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 20)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 20)">&#10095;</button>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Loop De Loop ++++++++++++++++ -->
<button onclick="openAccordion('LoopDeLoop')" class="w3-hover-opacity w3-hover-red w3-left-align w3-button w3-bar w3-xlarge w3-block">
  LoopDeLoop
</button>
<div id="LoopDeLoop" class="w3-hide w3-container w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-red">
        <img src="https://media.giphy.com/media/Y08EqnDMA4k5WMRBnU/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LoopDeLoopMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-red">
        <img src="https://media.giphy.com/media/4TmslvfqotdjMVOzyj/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('LoopDeLoopCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container loopdeloopSlides">
          <img src="../img/Count/SHUFFLE/STUTTERS/LoopDeLoop/LoopDeLoop1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container loopdeloopSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/STUTTERS/LoopDeLoop/LoopDeLoop1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container loopdeloopSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/STUTTERS/LoopDeLoop/LoopDeLoop2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container loopdeloopSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/STUTTERS/LoopDeLoop/LoopDeLoop2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container loopdeloopSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/STUTTERS/LoopDeLoop/LoopDeLoop3.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 3
          </div>
        </div>
        <div class="w3-display-container loopdeloopSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/STUTTERS/LoopDeLoop/LoopDeLoop3n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 21)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 21)">&#10095;</button>
      </div>
    </div>
  </div>
  <!-- TEXT -->
  <%# <div class="w3-container w3-padding">
    <button onclick="openAccordion('LoopDeLoopWalkthrough')" class="w3-hover-opacity w3-hover-green w3-large w3-button w3-bar w3-left-align w3-block">WALKTHROUGH</button>
    <div id="LoopDeLoopWalkthrough" class="w3-border w3-container w3-hide">
      <ul class="w3-ul">
        <li>
          Start with left foot in front / flat of stance and right foot behind / on toes
        </li>
        <li>
          Bring left foot back to middle of stance, flat, right foot up forward tucked next to shin
        </li>
        <li>
          Push left foot forwards to front of stance, and fall backwards landing right foot flat at back
        </li>
        <li>
          Bring left foot back again to middle of stance and right foot up next to shin
        </li>
        <li>
          Kick right foot backwards, brushing the ground slightly and continuing up right foot in a upwards circular motion, while left foot moves forward slightly (opposite direction of kick)
        </li>
        <li>
          As right foot comes up from brushing ground, bring to top center of stance, while left foot comes to center of stance as well
        </li>
        <li>
          Kick right foot downward/forwards, brushing ground while left foot moves backwards slightly for balance
        </li>
        <li>
          As right foot comes up from brush and back to center of stance in circular motion, left foot comes back to center of stance
        </li>
        <li>
          Repeat kicks as you please
        </li>
      </ul>
    </div>
    <button onclick="openAccordion('LoopDeLoopPit1')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">Figure 8</button>
    <div id="LoopDeLoopPit1" class="w3-border w3-container w3-hide">
      <p>
        Take note of how your kick leg is making a sideways figure 8 (when viewed from your side), with your plant foot intersecting the middle.
      </p>
    </div>
    <button onclick="openAccordion('LoopDeLoopPit2')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">Center of Gravity</button>
    <div id="LoopDeLoopPit2" class="w3-border w3-container w3-hide">
      <p>
        As your right leg kicks in a figure 8 motion, your left leg will want to slide back and forth to balance out your stance. Your legs will always be moving in the inverse direction of the other; i.e., as your right (kick) foot is moving outward in either direction, your left (plant) foot will move outwards in the opposite direction. As your kick leg moves inwards from either front or rear, your plant leg will slide inwards from the opposite. Getting these slides of your plant foot takes practice and lots of patience.
      </p>
    </div>
  </div> %>
</div>
