<!-- ++++++++++++++++ Corkscrew ++++++++++++++++ -->
<button onclick="openAccordion('Corkscrew')" class="w3-hover-opacity w3-hover-deep-purple w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Corkscrew
</button>
<div id="Corkscrew" class="w3-hide w3-container w3-margin-bottom">
  <!-- GIFS -->
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-deep-purple">
        <img src="https://media.giphy.com/media/1Bh3kgmlz3ew8EYvwl/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CorkscrewMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-deep-purple">
        <img src="https://media.giphy.com/media/3bzn5QtDW4kT7CgOcC/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CorkscrewCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container corkscrewSlides">
          <img src="../img/Count/SHUFFLE/DROPS/Corkscrew/Corkscrew1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container corkscrewSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/DROPS/Corkscrew/Corkscrew2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container corkscrewSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/DROPS/Corkscrew/Corkscrew3.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 3
          </div>
        </div>
        <div class="w3-display-container corkscrewSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/DROPS/Corkscrew/Corkscrew4.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 4
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 0)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 0)">&#10095;</button>
      </div>
    </div>
  </div>
  <!-- TEXT -->
  <%# <div class="w3-container w3-padding">
    <button onclick="openAccordion('CorkscrewWalkthrough')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">WALKTHROUGH</button>
    <div id="CorkscrewWalkthrough" class="w3-border w3-container w3-hide">
      <ul class="w3-ul">
        <li>
          From any stance, hop into the starting stance - feet flat together
        </li>
        <li>
          Let yourself free fall, as if your knees were completely giving in
        </li>
        <li>
          As you fall to the ground, place your left foot slightly right of right foot
        </li>
        <li>
          Twist your hips and push off the ground, in a corkswcrew motion
        </li>
      </ul>
    </div>
    <button onclick="openAccordion('CorkscrewPit1')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">Balance with Arms</button>
    <div id="CorkscrewPit1" class="w3-border w3-container w3-hide">
      <p>
        Spread your arms outward as your spin to balance yourself out. Like one of those giant sticks a tight-rop walker holds to balance out, your arms serve as counter-balances to stabilize your body as it rotates. As you get better at spinning, your arms will just follow the motion of your body as your internal balance stregnthens.
      </p>
    </div>
  </div> %>
</div>
<!-- ++++++++++++++++ Drop Downs ++++++++++++++++ -->
<button onclick="openAccordion('DropDown')" class="w3-hover-opacity w3-hover-green w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Drop Downs
</button>
<div id="DropDown" class="w3-hide w3-container w3-margin-bottom">
  <!-- GIFS -->
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-green">
        <img src="https://media.giphy.com/media/QNTrvQtZvCsM81hYij/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('DropDownMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-green">
        <img src="https://media.giphy.com/media/88hQnpyqAyhFz8bAM4/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('DropDownCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container dropdownSlides">
          <img src="../img/Count/SHUFFLE/DROPS/DropDown/DropDown1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container dropdownSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/DROPS/DropDown/DropDown2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container dropdownSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/DROPS/DropDown/DropDown3.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 3
          </div>
        </div>
        <div class="w3-display-container dropdownSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/DROPS/DropDown/DropDown4.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 4
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 1)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 1)">&#10095;</button>
      </div>
    </div>
  </div>
  <!-- TEXT -->
  <%# <div class="w3-container w3-padding">
    <button onclick="openAccordion('DropDownWalkthrough')" class="w3-hover-opacity w3-hover-green w3-large w3-button w3-bar w3-left-align w3-block">WALKTHROUGH</button>
    <div id="DropDownWalkthrough" class="w3-border w3-container w3-hide">
      <ul class="w3-ul">
        <li>
          From any stance, hop into the starting stance - feet flat together
        </li>
        <li>
          Let yourself free fall, as if your knees were completely giving in
        </li>
        <li>
          Before you fall completely into your squat, tense your knees up a little to break the fall
        </li>
        <li>
          Once you hit a full squat, immediately spring upwards and bounce into a toe heel stance
        </li>
        <li>
          Position your hands accordingly for balance.
        </li>
      </ul>
    </div>
    <button onclick="openAccordion('DropDownPit1')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">Care For Your Knees</button>
    <div id="DropDownPit1" class="w3-border w3-container w3-hide">
      <p>
        Your knees are important - you only get one pair! Be careful not to fall too suddenly into a full squat from standing up. This move is dope, but don't overuse it because of it's potential to put strain on your body.
      </p>
    </div>
    <button onclick="openAccordion('DropDownPit2')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">Springy Drops</button>
    <div id="DropDownPit2" class="w3-border w3-container w3-hide">
      <p>
        When you drop down, let yourself free fall for a brief period between when you drop and right before you're about to fall into the squat. As you're free falling, you'll tense up your muscles to soften the drop, which'll give an appearance of your drop being "springy."
      </p>
    </div>
  </div> %>
</div>
