<!-- ++++++++++++++++ Goofy Step ++++++++++++++++ -->
<button onclick="openAccordion('GoofyStep')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Goofy Step
</button>
<div id="GoofyStep" class="w3-hide w3-container w3-margin-bottom">
  <!-- GIFS -->
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-green">
        <img src="https://media.giphy.com/media/cAzUlrWoQgfe1ShDDW/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('GoofyStepMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-green">
        <img src="https://media.giphy.com/media/nwqcuMNMzCSERh8vsm/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('GoofyStepCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container goofystepSlides">
          <img src="../img/Count/SHUFFLE/RUNNINGMANS/GoofyStep/GoofyStep1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container goofystepSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/RUNNINGMANS/GoofyStep/GoofyStep1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container goofystepSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/RUNNINGMANS/GoofyStep/GoofyStep2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container goofystepSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/RUNNINGMANS/GoofyStep/GoofyStep2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 4)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 4)">&#10095;</button>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Frozone ++++++++++++++++ -->
<button onclick="openAccordion('Frozone')" class="w3-hover-opacity w3-hover-red w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Frozone
</button>
<div id="Frozone" class="w3-hide w3-container w3-margin-bottom">
  <!-- GIFS -->
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-red">
        <img src="https://media.giphy.com/media/2tRotfxh1gxrEUVDet/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('FrozoneMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-red">
        <img src="https://media.giphy.com/media/1xVdB3xcn8CD8hJQat/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('FrozoneCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container frozoneSlides">
          <img src="../img/Count/SHUFFLE/RUNNINGMANS/Frozone/Frozone1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container frozoneSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/RUNNINGMANS/Frozone/Frozone1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container frozoneSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/RUNNINGMANS/Frozone/Frozone2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container frozoneSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/RUNNINGMANS/Frozone/Frozone2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 5)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 5)">&#10095;</button>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Running Man ++++++++++++++++ -->
<button onclick="openAccordion('RunningMan')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Running Man
</button>
<div id="RunningMan" class="w3-hide w3-container w3-margin-bottom">
  <!-- GIFS -->
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-green">
        <img src="https://media.giphy.com/media/1dI01pPzF5ystuJCHl/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RunningManMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-green">
        <img src="https://media.giphy.com/media/nqCdLv4JTLfVPzjv9f/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RunningManCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container runningmanSlides">
          <img src="../img/Count/SHUFFLE/RUNNINGMANS/RunningMan/RunningMan1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container runningmanSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/RUNNINGMANS/RunningMan/RunningMan1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container runningmanSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/RUNNINGMANS/RunningMan/RunningMan2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container runningmanSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/RUNNINGMANS/RunningMan/RunningMan2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 6)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 6)">&#10095;</button>
      </div>
    </div>
  </div>
  <!-- TEXT -->
  <%# <div class="w3-container w3-padding">
    <button onclick="openAccordion('runningmanWalkthrough')" class="w3-hover-opacity w3-hover-green w3-large w3-button w3-bar w3-left-align w3-block">WALKTHROUGH</button>
    <div id="runningmanWalkthrough" class="w3-border w3-container w3-hide">
      <ul class="w3-ul">
        <li>
          Start with left foot forwards and flat, right foot behind you and on toes
        </li>
        <li>
          Slide/jostle left foot backwards and flat to center of stance, while bringing right foot up tucked next to your shin
        </li>
        <li>
          Land right foot flat in front of stance while pushing left foot backwards on toes at rear or stance
        </li>
        <li>
          Repeat, but now bring up left foot and land right foot flat, and so on
        </li>
      </ul>
    </div>
    <button onclick="openAccordion('Demo1')" class="w3-hover-opacity w3-hover-green w3-large w3-button w3-bar w3-left-align w3-block">Floating Feet</button>
    <div id="Demo1" class="w3-border w3-container w3-hide">
      <p>
        If as you try to learn the move it seems as if your front foot doesn't land at the same time as your rear foot at the half beats, exaggerate the length of your gait (and gravity will pull down both of your feet so that you can start to build the proper muscle memory.
      </p>
    </div>
    <button onclick="openAccordion('Demo2')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">Stompy Feet / Bendy Knees</button>
    <div id="Demo2" class="w3-border w3-container w3-hide">
      <p>
        The key to a slick looking running man is to have minimal bend in your knees and length of your stride. A running man will look off if you raise your knees too high (as if you were trying to stomp the ground) or take extra long gaits. Modesty is key here as your create the very subtle mirage that you are running in place - in fact, it's more of a slide than a run (as the term "shuffling" suggests it might be). To minimize the stride, find the right bounce in your step so that your feet can travel the minimal distance to create the apparition of a running man with the least amount of airtime (off the ground). This will also stop you from lifting your legs too high and creating the stomping motion.
      </p>
    </div>
    <button onclick="openAccordion('Demo3')" class="w3-hover-opacity w3-hover-green w3-button w3-large w3-bar w3-left-align w3-block">Mirrored Stances</button>
    <div id="Demo3" class="w3-border w3-container w3-hide">
      <p>
        Your feet will alternate between four different distinct positions - consisting of two pairs of mirroring stances. In the first set of twin stances, your front foot is flat on the ground while your rear foot is on its toes. In the second set, the front foot that was flat is straight below your body while your rear foot is tucked next to the middle of your shin, off the ground.
      </p>
    </div>
  </div> %>
</div>
<!-- ++++++++++++++++ Reverse Running Man ++++++++++++++++ -->
<button onclick="openAccordion('RunningManReverse')" class="w3-hover-opacity w3-hover-red w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Running Man (Reverse)
</button>
<div id="RunningManReverse" class="w3-hide w3-container w3-margin-bottom">
  <!-- GIFS -->
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-red">
        <img src="https://media.giphy.com/media/5wGf2tbRthQF8xU2bz/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RunningManReverseMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-red">
        <img src="https://media.giphy.com/media/YByO7O4XZ2GFaaK0Da/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RunningManReverseCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container runningmanrevSlides">
          <img src="../img/Count/SHUFFLE/RUNNINGMANS/RunningManRev/RunningManRev1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container runningmanrevSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/RUNNINGMANS/RunningManRev/RunningManRev1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container runningmanrevSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/RUNNINGMANS/RunningManRev/RunningManRev2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container runningmanrevSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/RUNNINGMANS/RunningManRev/RunningManRev2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 7)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 7)">&#10095;</button>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Windswept ++++++++++++++++ -->
<button onclick="openAccordion('Windswept')" class="w3-hover-opacity w3-hover-amber w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Windswept
</button>
<div id="Windswept" class="w3-hide w3-container w3-margin-bottom">
  <!-- GIFS -->
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-amber">
        <img src="https://media.giphy.com/media/1g3cie84mxKhztMtAI/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('WindsweptMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-amber">
        <img src="https://media.giphy.com/media/1gTops5LhhlR3i2KME/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('WindsweptCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container windsweptSlides">
          <img src="../img/Count/SHUFFLE/RUNNINGMANS/Windswept/Windswept1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container windsweptSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/RUNNINGMANS/Windswept/Windswept1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container windsweptSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/RUNNINGMANS/Windswept/Windswept2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container windsweptSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/RUNNINGMANS/Windswept/Windswept2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 8)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 8)">&#10095;</button>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Zombie ++++++++++++++++ -->
<button onclick="openAccordion('Zombie')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Zombie
</button>
<div id="Zombie" class="w3-hide w3-container w3-margin-bottom">
  <div class="w3-row-padding">
    <!-- GIFS -->
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-green">
        <img src="https://media.giphy.com/media/5YhvqLjrJpmWLRDODV/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ZombieMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-green">
        <img src="https://media.giphy.com/media/7SQFISnSyRASbNOpgO/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('ZombieCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container zombieSlides">
          <img src="../img/Count/SHUFFLE/RUNNINGMANS/Zombie/Zombie1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container zombieSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/RUNNINGMANS/Zombie/Zombie1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container zombieSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/RUNNINGMANS/Zombie/Zombie2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container zombieSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/RUNNINGMANS/Zombie/Zombie2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 9)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 9)">&#10095;</button>
      </div>
    </div>
  </div>
</div>
