<!-- ++++++++++++++++ Flat Foot Spin ++++++++++++++++ -->
<button onclick="openAccordion('FlatFootSpin')" class="w3-hover-opacity w3-hover-red w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Flat Foot Spin
</button>
<div id="FlatFootSpin" class="w3-hide w3-container w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-red">
        <img src="https://media.giphy.com/media/PLZ4d1b3tkvGPhQbu8/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('FlatFootSpinMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-red">
        <img src="https://media.giphy.com/media/ctMbAN8feKE1zESY88/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('FlatFootSpinCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container flatfootspinSlides">
          <img src="../img/Count/SHUFFLE/SPINS/FlatFootSpin/FlatFootSpin1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container flatfootspinSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/SPINS/FlatFootSpin/FlatFootSpin1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container flatfootspinSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/SPINS/FlatFootSpin/FlatFootSpin1na.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-green" style="width: 100%">
            a
          </div>
        </div>
        <div class="w3-display-container flatfootspinSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/SPINS/FlatFootSpin/FlatFootSpin2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 15)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 15)">&#10095;</button>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Kick Spin ++++++++++++++++ -->
<button onclick="openAccordion('KickSpin')" class="w3-hover-opacity w3-hover-deep-purple w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Kick Spin
</button>
<div id="KickSpin" class="w3-hide w3-container w3-margin-bottom">
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-deep-purple">
        <img src="https://media.giphy.com/media/t6wZ8V83IXhMLbP1md/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('KickSpinMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-deep-purple">
        <img src="https://media.giphy.com/media/9x6GGNGf6mvPRtGgBZ/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('KickSpinCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container kickspinSlides">
          <img src="../img/Count/SHUFFLE/SPINS/KickSpin/KickSpin1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container kickspinSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/SPINS/KickSpin/KickSpin1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container kickspinSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/SPINS/KickSpin/KickSpin2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container kickspinSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/SPINS/KickSpin/KickSpin3.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 3
          </div>
        </div>
        <div class="w3-display-container kickspinSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/SPINS/KickSpin/KickSpin4.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 4
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 16)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 16)">&#10095;</button>
      </div>
    </div>
  </div>
</div>
