<!-- ++++++++++++++++ Crssd ++++++++++++++++ -->
<button onclick="openAccordion('Crssd')" class="w3-hover-opacity w3-hover-deep-purple w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Crssd
</button>
<div id="Crssd" class="w3-hide w3-container w3-margin-bottom">
  <!-- GIFS -->
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-deep-purple">
        <img src="https://media.giphy.com/media/39jF8J5Ow26f97q0Oq/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CrssdMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-deep-purple">
        <img src="https://media.giphy.com/media/61WOg8a02R2pNvGpat/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('CrssdCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container crssdSlides">
          <img src="../img/Count/SHUFFLE/SLIDES/Crssd/Crssd1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container crssdSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/SLIDES/Crssd/Crssd1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container crssdSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/SLIDES/Crssd/Crssd2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container crssdSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/SLIDES/Crssd/Crssd2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 10)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 10)">&#10095;</button>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Flip Flop ++++++++++++++++ -->
<button onclick="openAccordion('FlipFlop')" class="w3-hover-opacity w3-hover-red w3-hover-text-white w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Flip Flop
</button>
<div id="FlipFlop" class="w3-hide w3-container w3-margin-bottom">
  <!-- GIFS -->
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-red">
        <img src="https://media.giphy.com/media/1kTNZ268aPBL6S65Xy/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('FlipFlopMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-red">
        <img src="https://media.giphy.com/media/Av0CleFHRBPXfdK9PX/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('FlipFlopCountModal').style.display='block'"/>
      </div>
    </div>
  </div><!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container flipflopSlides">
          <img src="../img/Count/SHUFFLE/SLIDES/FlipFlop/FlipFlop1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container flipflopSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/SLIDES/FlipFlop/FlipFlop1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container flipflopSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/SLIDES/FlipFlop/FlipFlop2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container flipflopSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/SLIDES/FlipFlop/FlipFlop2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 11)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 11)">&#10095;</button>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Rodeo ++++++++++++++++ -->
<button onclick="openAccordion('Rodeo')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Rodeo
</button>
<div id="Rodeo" class="w3-hide w3-container w3-margin-bottom">
  <!-- GIFS -->
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-green">
        <img src="https://media.giphy.com/media/4HeSl3jGc0RjWpExQU/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RodeoMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-green">
        <img src="https://media.giphy.com/media/xThta2v4UFm9QtCXny/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RodeoCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container rodeoSlides">
          <img src="../img/Count/SHUFFLE/SLIDES/Rodeo/Rodeo1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container rodeoSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/SLIDES/Rodeo/Rodeo1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container rodeoSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/SLIDES/Rodeo/Rodeo2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container rodeoSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/SLIDES/Rodeo/Rodeo2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 12)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 12)">&#10095;</button>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Racquet ++++++++++++++++ -->
<button onclick="openAccordion('Racquet')" class="w3-hover-opacity w3-hover-red w3-left-align w3-button w3-bar w3-xlarge w3-block">
  Racquet
</button>
<div id="Racquet" class="w3-hide w3-container w3-margin-bottom">
  <!-- GIFS -->
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-red">
        <img src="https://media.giphy.com/media/Zyv6h4ALBsRJN9thHY/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RacquetMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-red">
        <img src="https://media.giphy.com/media/2599JDKqb99i2dj82u/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('RacquetCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container racquetSlides">
          <img src="../img/Count/SHUFFLE/SLIDES/Racquet/Racquet1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container racquetSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/SLIDES/Racquet/Racquet1n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <div class="w3-display-container racquetSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/SLIDES/Racquet/Racquet2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container racquetSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/SLIDES/Racquet/Racquet2n.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-amber w3-text-white" style="width: 100%">
            &
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 13)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 13)">&#10095;</button>
      </div>
    </div>
  </div>
</div>
<!-- ++++++++++++++++ Slyce ++++++++++++++++ -->
<button onclick="openAccordion('Slyce')" class="w3-hover-opacity w3-hover-green w3-left-align w3-button w3-bar w3-xlarge w3-block w3-left-alight">
  Slyce
</button>
<div id="Slyce" class="w3-hide w3-container w3-margin-bottom">
  <!-- GIFS -->
  <div class="w3-row-padding">
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-red">
        <img src="https://media.giphy.com/media/406WpMJfFvMtWo88z9/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SlyceMoveModal').style.display='block'"/>
      </div>
    </div>
    <div class="w3-half w3-hover-grayscale w3-margin-top">
      <div class="w3-card w3-bottombar w3-border-red">
        <img src="https://media.giphy.com/media/WS3bxTX2pXWFa9AgNv/giphy.gif" style="width: 100%; cursor:pointer" onclick="document.getElementById('SlyceCountModal').style.display='block'"/>
      </div>
    </div>
  </div>
  <!-- COUNTS -->
  <div class="w3-container w3-margin-top">
    <div class="w3-card">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container slyceSlides">
          <img src="../img/Count/SHUFFLE/SLIDES/Slyce/Slyce1.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 1
          </div>
        </div>
        <div class="w3-display-container slyceSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/SLIDES/Slyce/Slyce2.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 2
          </div>
        </div>
        <div class="w3-display-container slyceSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/SLIDES/Slyce/Slyce3.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-red" style="width: 100%">
            Count 3
          </div>
        </div>
        <div class="w3-display-container slyceSlides" style="display: none;">
          <img src="../img/Count/SHUFFLE/SLIDES/Slyce/Slyce4.jpg" style="width: 100%">
          <div class="w3-display-bottommiddle w3-center w3-xlarge w3-container w3-padding w3-opacity w3-blue" style="width: 100%">
            Count 4
          </div>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 14)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 14)">&#10095;</button>
      </div>
    </div>
  </div>
</div>
