/* body {font-family: "Raleway", Arial, sans-serif}
h1 {font-family: "Raleway"; font-weight: bold}
h2 {font-family: "Raleway"; font-weight: bold}
h3 {font-family: "Raleway"; font-weight: bold}
h4 {font-family: "Raleway"; font-weight: bold}
h5 {font-family: "Raleway"; font-weight: bold}
h6 {font-family: "Raleway"; font-weight: bold} */

.w3-row img {margin-bottom: -4px}
.content {padding: 16px;}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
.sticky {
  padding-top: 60px;
}

.parallax {
    /* The image used */
    background-image: url("../img/whisperingpines1.png");

    /* Set a specific height */
    height: 850px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
