<!DOCTYPE html>
<html>
<head>
  <title>Sheng Hou Yuan LLC</title>
  <% include ../partials/head %>
  <script src="../js/indexSlideshows.js"></script>
</head>
</html>

<header>
  <% include ../partials/header %>
</header>

<!-- COVER PHOTO -->

<img src="../img/dominionhouse3.png" style="width: 100%"/>

<div class="container" style="margin-top:30px; margin-bottom:50px">
  <h1 class="display-4">Sheng Hou Yuan LLC</h1>
  <p class="lead">Single Family and Multifamily Rental Housing Investment Company</p>
  <hr class="my-4">
  <p>
    Sheng Huo Yuan has been steadily investing in and improving single family and multifamily rental housing (“value add investing”) since 2013.  SHY’s first foray into the rental housing market was with it’s partner Southeast Multifamily Partners LLC (“SEMP”).  SEMP acquired a 312 unit apartment building in Lafayette, LA.  In connection with that acquisition and property improvement, SHY purchased a large number of kitchen cabinets directly from a factory in China, that were used in the renovation of the apartments.  Over the next four years, SHY invested with SEMP to acquire more than 800 additional apartments in five other states and to do value add improvements for significant risk-adjusted return on investment.
    <!-- [Put link to SEMP that starts on next page] -->
  </p>
  <p>
    More recently, SHY teamed up with Street Smart Capital in Baltimore Maryland to acquire single family rental homes and to do significant improvements and then rent those homes to tenants who need assistance from the federal government to make their rent payments under HUD’s Section 8 voucher program.  These homes are substantially improved and are very beautiful post-renovation.
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/multifamily" role="button">Learn more</a>
  </p>
</div>

<footer>
    <% include ../partials/footer %>
</footer>
