<!DOCTYPE html>
<html>
<head>
  <title>Management</title>
  <% include ../partials/head %>
</head>
</html>

<header>
  <% include ../partials/header %>
</header>

<div class="container" style="margin-top:20px; margin-bottom:20px">
  <h1 class="text-center">Multi Family Advisory Board</h1>
  <div class="row" style="margin-top: 15px">
    <div class="col-sm-4">
      <img src="../img/headshots/DavidDeshong.png" class="w3-image" style="width: 100%">
      <h4>David Deshong</h4>
      <span><em>Founder & CIO</em></span>
    </div>
    <div class="col-sm-8">
      <p>
        As Founder and CIO of SEMP I, David is responsible for the overall strategy and the investment activities of the fund including acquisitions, financings and property renovations. He is responsible for establishing and executing the business plan for each asset. With over 25 years of real estate transaction experience, David has participated in over $1B of asset acquisitions and financings with a primary emphasis in the multi-family sector.
      </p>
      <p>
        Mr. DeShong has been a principal in the multi-family industry for over 10 years. He has been responsible for the acquisition of over 2,500 multifamily units in the Southeastern US during this time. He is responsible for the acquisitions, financing and day to day asset management of the assets including rehab and execution of the value –add component.  He establishes the business plan for each asset and is responsible for the overall execution of each property’s plan.  Prior to his tenure in the Multi-family industry he was a partner with Deloitte and Touche where he focused on serving clients in the real estate and hospitality industries
      </p>
      <p>
        David holds an MBA and a BBA in Accounting from Baylor University where he graduated with honors.  He is a Certified Public Accountant and a member of the American Institute of Certified Public Accountants and the Georgia Society of Accountants. He is a former partner in at Deloitte and Touche.
      </p>
    </div>
  </div>
  <div class="row" style="margin-top: 15px">
    <div class="col-sm-4">
      <img src="../img/headshots/LisaXie.png" class="w3-image w3-grayscale" style="width: 100%">
      <h4>Lisa Xie</h4>
      <span><em>Founder & CEO</em></span>
    </div>
    <div class="col-sm-8">
      <p>
        At the closing of the SEMP II acquisitions, Lisa will become full time CEO responsible for the overall business affairs of the Fund. She is currently an IT professional for CSC Corporation in Washington, DC doing work on a Dep’t of Homeland Security project.  She is also a licensed real estate agent in Maryland and accomplished real estate entrepreneur and operator, having been involved in many acquisitions and rentals of single family homes over many years. Her company LOOX LLC has been involved in many real estate finance transactions involving both residential and commercial acquisition and development projects in and around the Washington D.C. and Baltimore areas.
      </p>
      <!-- <p>
        Lisa is president emeritus of the Nankai University Alumni Association of Washington D.C. and she is current president of the Shanxi Association in Washington D.C and a board member of Shanxi Chamber of Commerce in the U.S.  She previously served as vice president of CCCAA (Coordination Council of Chinese American Associations) and is currently its treasurer. She maintains a close  relationship with high level Chinese government officers and business representatives in the U.S. and China and is frequently asked to attend functions at the Chinese Embassy in Washington, D.C when Chinese government and business representatives come to visit the U.S. All of these community activities have helped Lisa maintain a network of potential business partners who have interest in doing business here in the U.S.
      </p> -->
      <p>
        Lisa holds her B.A. degree from Nankai University in Tianjin, China and M.A. and Ph.D. degrees from The Catholic University of America in Washington, D.C.
      </p>
    </div>
  </div>
  <div class="row" style="margin-top: 15px">
    <div class="col-sm-4">
      <img src="../img/headshots/JohnSteele.png" class="w3-image w3-grayscale" style="width: 100%">
        <h4>John Steele</h4>
        <span><em>Founder, CFO, CLO</em></span>
    </div>
    <div class="col-sm-8">
      <p>
        At the closing of the SEMP II acquisitions, John Steele will become responsible for the financial and legal affairs of the Fund.  Mr. Steele began his legal career as a tax lawyer on Wall Street representing joint venture partners in oil and gas and real estate investments.  He transitioned to and has been providing corporate and securities legal advice to Wall Street and other capital markets participants for over 25 years.  Mr. Steele is currently Of Counsel at the law firm Andrews Kurth LLP and also participates in the management of real estate funds primarily focused on single family home strategies. Together with Mr Mannes, John is also an advisor and principal in Diversified Real Estate Holdings LLC (DRH), a company focused on single-family acquisition and rehab for resale. Since the inception of SEMP I, John has assisted in formulating the Fund’s overall strategy and reviewing acquisitions.
      </p>
      <p>
        John holds a BA (cum laude) in Accounting from Florida Southern College, a J.D. from University of Florida Law School (Order of the Coif)  and an Ll.M in Taxation from NYU School of Law.  Mr. Steele held a Florida CPA license for 25 years and is a member of the AICPA.
      </p>
    </div>
  </div>
  <div class="row" style="margin-top: 15px">
    <h4>Scott Mannes</h4>
    <p>
      Mr. Mannes is the co-founder and principal in several specialty finance companies originating or purchasing in excess of one billion dollars of real estate loans and real estate over the past 14 years.    Mr. Mannes is a founding   partner in Salient Consulting LLC (Salient) and The Norseman Group LLC (Norseman).   Mr. Mannes is also an advisor and principal in Diversified Real Estate Holdings LLC (DRH) and South East Multi-Family Partners (SEMP).   Salient and Norseman provide advisory services to real estate owners and specialty finance companies.  DRH and SEMP purchase single family and multi-family residential properties for investment and future resale.
    </p>
    <p>
      Prior to this activity and beginning in 1990 Mr. Mannes was the Co-President  of Conti Financial Services (CFS) a division of CitiFinancial Corp (CFN),  a $1.5 billion market capitalization, NYSE company focused on originating and securitizing residential and commercial real estate loans and consumer receivables .  CFN originated and securitized approximately one billion per month in residential real estate loans and established one of the first commercial mortgage loan conduits which originated $300 million per month in multi –family and other commercial real estate loans.   Mr. Mannes was responsible for the CFN’s Capital Markets and securitization group along with developing CFN’s residential and commercial real estate origination capabilities.
    </p>
    <p>
      Prior to joining  CFN,  Mr. Mannes started his career in 1984 as an associate and later as an Assistant Vice- President at Financial Guaranty Insurance Company (FGIC) focusing on  municipal housing bonds and developing the first financial guaranties used in residential mortgage securitizations and other structured financings.
    </p>
    <p>
      Mr. Mannes has board level experience with a multi family REIT (AMAC) and with charitable organizations.  Mr. Mannes received his MPA (Public Finance) from the Rockefeller School at the University of Albany (1984) and a BA at the University of Albany (1981).
    </p>
  </div>
  <!-- <div class="row" style="margin-top: 15px">
    <div class="col-sm-4">
      <img src="../img/headshots/VictorXie.png" class="w3-image w3-grayscale" style="width: 100%">
        <h4>Victor Xie</h4>
        <span><em>Founder & CMO</em></span>
    </div>
    <div class="col-sm-8">
      <p>
        At the closing of the SEMP II acquisitions, Mr. Xie will become responsible for all marketing and investor relations for the Fund.  Weizhong is currently managing an investment portfolio for several Chinese investors in U.S. real estate opportunities and runs a cabinet importing business that has supplied some of SEMP I renovations.  Before coming to the U.S., he was general manager for one of the largest importing and exporting companies in China. He was one of the pioneers in developing a large importing and exporting business in Shanxi and helping Chinese efforts to enter the world markets.  In that capacity, he had responsibility for several billion dollars of imports and exports of coal and other minerals.
      </p>
      <p>
        Since the inception of SEMP I, Weizhong has been the largest investor/manager, having helped grow the equity base to its current $9.6 M (approx.) level. Weizhong maintains government and business leader contacts at both the local and national  levels in China. He spends significant time in China cultivating very strong ties with ultra-high net worth individuals and businesses wishing to invest in US and helps manage their assets and cash flow located here. As the company seeks to achieve higher growth milestones and seeks greater outside equity participation, Mr Xie’s  efforts will be ever more important.
      </p>
      <p>
        Mr Xie graduated from Northeast Institute of Technology, Shenyang, Liaoning Province.
      </p>
    </div>
  </div> -->
</div>

<div class="container" style="margin-top:20px; margin-bottom:20px">
  <h1 class="text-center">Single Family Management</h1>
  <div class="row" style="margin-top: 15px">
    <div>
      <h5>Lisa Xie</h5>
      <span><em>President</em></span>
    </div>
    <p>
      The president is responsible for providing strategic leadership for the company by working with the Board and other management to establish long-range goals, strategies, plans and policies.  Specific duties will include:
    </p>
    <ul>
      <li>
        Creating, communicating and implementing the organization's vision, mission, and overall direction
      </li>
      <li>
        With the participation of the executive team, meets regularly with senior company leadership to make sure that decisions the organization needs are well-thought out and timely
      </li>
      <li>
        Formulating and implementing the strategic plan that guides the direction of the business.
      </li>
      <li>
        Overseeing the complete operation of an organization in accordance with the direction established in the strategic plans
      </li>
      <li>
        Evaluating the success of the organization
      </li>
    </ul>
  </div>
  <div class="row" style="margin-top: 15px">
    <div>
      <h5>Ian Horowitz</h5>
      <span><em>VP of Operations</em></span>
    </div>
    <p>
      As a member of the senior executive team, VP- Operations will have responsibility for the day to day operation of the company. He will manage the daily tasks to complete the projects and work with other team members to create a strategy for the profitable long-term growth of the business.  Specific duties will include:
    </p>
    <ul>
      <li>
        Creating, communicating and implementing the organization's vision, mission, and overall direction
      </li>
      <li>
        With the participation of the executive team, meets regularly with senior company leadership to make sure that decisions the organization needs are well-thought out and timely
      </li>
      <li>
        Formulating and implementing the strategic plan that guides the direction of the business.
      </li>
      <li>
        Overseeing the complete operation of an organization in accordance with the direction established in the strategic plans
      </li>
      <li>
        Evaluating the success of the organization
      </li>
    </ul>
  </div>
  <div class="row" style="margin-top: 15px">
    <div>
      <h5>Dan Mathe</h5>
      <span><em>VP of Acquisitions</em></span>
    </div>
    <p>
      As a member of the senior executive team, VP- Operations will have responsibility for the day to day operation of the company. He will manage the daily tasks to complete the projects and work with other team members to create a strategy for the profitable long-term growth of the business.  Specific duties will include:
    </p>
    <ul>
      <li>
        Identify Properties to purchase
      </li>
      <li>
        Work with other team members to make sure the proper materials are available
      </li>
      <li>
        Work with other team members to keep the company growing in profitable direction
      </li>
      <li>
        Creating, communicating and implementing the organization's vision, mission, and overall direction
      </li>
      <li>
        With the participation of the executive team, meets regularly with senior company leadership to make sure that decisions the organization needs are well-thought out and timely
      </li>
      <li>
        Formulating and implementing the strategic plan that guides the direction of the business.
      </li>
      <li>
        Overseeing the complete operation of an organization in accordance with the direction established in the strategic plans
      </li>
      <li>
        Evaluating the success of the organization
      </li>
    </ul>
  </div>
  <div class="row" style="margin-top: 15px">
    <div>
      <h5>John Steele</h5>
      <span><em>VP of Finance</em></span>
    </div>
    <p>
      As a member of the senior executive team, VP- Finance will have responsibility for assessing and reporting on the company's financial health. He will manage accounting and financial control functions, and establish a financial strategy for the profitable long-term growth of the business.  Specific duties will include:
    </p>
    <ul>
      <li>
        Prepare pro-forma financial projections and updated monthly reports. -Review financial investment proposals
      </li>
      <li>
        Report to President on financial results of operation
      </li>
      <li>
        Approve expenditures other than ordinary operating expenses
      </li>
    </ul>
  </div>
  <div class="row" style="margin-top: 15px">
    <div>
      <h5>Ryan Tucker</h5>
      <span><em>Project Manager</em></span>
    </div>
    <p>
      As Project Manager, Mr Tucker’s duties include coordination and completion of all renovation projects on time within budget and within scope. Oversees all aspects of the renovation projects-  Sets deadlines, assigns responsibilities and monitors and summarizes progress of project. Prepare reports for upper management regarding status of all renovation projects.
    </p>
  </div>
  <div class="row" style="margin-top: 15px">
    <div>
      <h5>Eric Guhl</h5>
      <span><em>Web Designer</em></span>
    </div>
    <p>
      As web designer, Mr Guhl’s job duties cover all aspects of creating and maintain SHY’s website. His duties include, but aren't limited to, the following:Writing and editing content; Designing webpage layout; Determining technical requirements; Updating websites; Creating back up files; Solving code problems.
    </p>
  </div>
  <div class="row" style="margin-top: 15px">
    <div>
      <h5>Christine Horowitz</h5>
      <span><em>Assistant Property Manager</em></span>
    </div>
    <p>
      Ms Horowitz is responsible for advertising units, negotiating lease terms, performing tenant screenings, acting as liaison between tenants and the company, collecting rent on a monthly basis and handling late payments in a timely manner. She also maintains property by addressing tenant complaints, completing repairs, contracting landscaping and snow removal companies and enforcing rules of occupancy and coordinating maintenance schedule with maintenance contractors.
    </p>
  </div>
  <div class="row" style="margin-top: 15px">
    <div>
      <h5>Michelle Mathe</h5>
      <span><em>Pre & Post Closer</em></span>
    </div>
    <p>
      Ms Mathe performs a number of important tasks in the settlement of all real estate transactions. She works with the settlement agents  to ensure there are no problems such as undisclosed liens, boundary disputes or errors in public records that could affect the transaction or the buyer’s rights in the future and helps coordinate all financing for each closing.
    </p>
  </div>
  <div class="row" style="margin-top: 15px">
    <div>
      <h5>Yizhu Chen</h5>
      <span><em>Pre & Post Closer</em></span>
    </div>
    <p>
      Mr Chen is the first point of contact: dealing with correspondence and phone calls. managing diaries and organising meetings and appointments, often controlling access to the manager/executive. booking and arranging travel, transport and accommodation. organising events and conferences.
    </p>
  </div>
  <div class="row" style="margin-top: 15px">
    <div>
      <h5>Andrew Tucker</h5>
      <span><em>Maintenance Technician</em></span>
    </div>
    <p>
      Mr Tucker maintains the company’s properting by addressing tenant complaints, completing repairs, contracting landscaping and snow removal companies and enforcing rules of occupancy and coordinating maintenance schedule with maintenance contractors.
    </p>
  </div>
</div>

<footer>
    <% include ../partials/footer %>
</footer>
