<!DOCTYPE html>
<html>
<head>
  <title>Management</title>
  <% include ../partials/head %>
</head>
</html>

<header>
  <% include ../partials/header %>
</header>

<!-- SECTION 1: About-->
<div class="w3-content">
  <div class="w3-padding-32 w3-center" id="about">
    <div class="w3-row-padding">
      <div class="w3-quarter">
        <div class="w3-padding">
          <img src="../img/headshots/DavidDeshong.png" class="w3-image w3-bottombar w3-border-blue" width="300" height="300">
        </div>
        <div class="w3-threequarter">
          <h2>David Deshong</h2>
          <p>
            president of SEMP
          </p>
        </div>
      </div>
    </div>
    <div class="bio">
      <p>
        Lorem ipsum dolor
      </p>
    </div>
  </div>
</div>

<!-- SECTION 4: INSPIRE -->
<div class="w3-container w3-padding-32 w3-light-grey w3-row-padding">
  <div class="w3-content">
    <hr />

  </div>
</div>

<footer>
    <% include ../partials/footer %>
</footer>
