<!DOCTYPE html>
<html>
<head>
  <title>Single-Family Management</title>
  <% include ../partials/head %>
</head>
</html>

<header>
  <% include ../partials/header %>
</header>

<div class="container" style="margin-top:20px; margin-bottom:20px">
  <h1 class="text-center">Single Family Management</h1>
  <div class="row" style="margin-top: 20px">
    <div>
      <h5>Lisa Xie, <em>President</em></h5>
    </div>
    <p>
      The president is responsible for providing strategic leadership for the company by working with the Board and other management to establish long-range goals, strategies, plans and policies.  Specific duties will include:
    </p>
    <ul>
      <li>
        Creating, communicating and implementing the organization's vision, mission, and overall direction
      </li>
      <li>
        With the participation of the executive team, meets regularly with senior company leadership to make sure that decisions the organization needs are well-thought out and timely
      </li>
      <li>
        Formulating and implementing the strategic plan that guides the direction of the business.
      </li>
      <li>
        Overseeing the complete operation of an organization in accordance with the direction established in the strategic plans
      </li>
      <li>
        Evaluating the success of the organization
      </li>
    </ul>
  </div>
  <div class="row" style="margin-top: 15px">
    <div>
      <h5>Ian Horowitz, <em>VP of Operations</em></h5>
    </div>
    <p>
      As a member of the senior executive team, VP- Operations will have responsibility for the day to day operation of the company. He will manage the daily tasks to complete the projects and work with other team members to create a strategy for the profitable long-term growth of the business.  Specific duties will include:
    </p>
    <ul>
      <li>
        Creating, communicating and implementing the organization's vision, mission, and overall direction
      </li>
      <li>
        With the participation of the executive team, meets regularly with senior company leadership to make sure that decisions the organization needs are well-thought out and timely
      </li>
      <li>
        Formulating and implementing the strategic plan that guides the direction of the business.
      </li>
      <li>
        Overseeing the complete operation of an organization in accordance with the direction established in the strategic plans
      </li>
      <li>
        Evaluating the success of the organization
      </li>
    </ul>
  </div>
  <div class="row" style="margin-top: 15px">
    <div>
      <h5>Dan Mathe, <em>VP of Acquisitions</em></h5>
    </div>
    <p>
      As a member of the senior executive team, VP- Operations will have responsibility for the day to day operation of the company. He will manage the daily tasks to complete the projects and work with other team members to create a strategy for the profitable long-term growth of the business.  Specific duties will include:
    </p>
    <ul>
      <li>
        Identify Properties to purchase
      </li>
      <li>
        Work with other team members to make sure the proper materials are available
      </li>
      <li>
        Work with other team members to keep the company growing in profitable direction
      </li>
      <li>
        Creating, communicating and implementing the organization's vision, mission, and overall direction
      </li>
      <li>
        With the participation of the executive team, meets regularly with senior company leadership to make sure that decisions the organization needs are well-thought out and timely
      </li>
      <li>
        Formulating and implementing the strategic plan that guides the direction of the business.
      </li>
      <li>
        Overseeing the complete operation of an organization in accordance with the direction established in the strategic plans
      </li>
      <li>
        Evaluating the success of the organization
      </li>
    </ul>
  </div>
  <div class="row" style="margin-top: 15px">
    <div>
      <h5>John Steele, <em>VP of Finance</em></h5>
    </div>
    <p>
      As a member of the senior executive team, VP- Finance will have responsibility for assessing and reporting on the company's financial health. He will manage accounting and financial control functions, and establish a financial strategy for the profitable long-term growth of the business.  Specific duties will include:
    </p>
    <ul>
      <li>
        Prepare pro-forma financial projections and updated monthly reports. -Review financial investment proposals
      </li>
      <li>
        Report to President on financial results of operation
      </li>
      <li>
        Approve expenditures other than ordinary operating expenses
      </li>
    </ul>
  </div>
  <div class="row" style="margin-top:15px">
    <div class="col-md-6">
      <h5>Ryan Tucker, <em>Project Manager</em></h5>
      <p>
        As Project Manager, Mr Tucker’s duties include coordination and completion of all renovation projects on time within budget and within scope. Oversees all aspects of the renovation projects-  Sets deadlines, assigns responsibilities and monitors and summarizes progress of project. Prepare reports for upper management regarding status of all renovation projects.
      </p>
      <h5>Eric Guhl, <em>Web Developer</em></h5>
      <p>
        As web designer, Mr Guhl’s job duties cover all aspects of creating and maintain SHY’s website. These include, but are not limtied to writing/editing content, designing webpage layout, determining technical requirements, updating websites, creating back up files, etc.
      </p>
      <h5>Andrew Tucker, <em>Maintenance Technician</em></h5>
      <p>
        Mr Tucker maintains the company’s properting by addressing tenant complaints, completing repairs, contracting landscaping and snow removal companies and enforcing rules of occupancy and coordinating maintenance schedule with maintenance contractors.
      </p>
    </div>
    <div class="col-md-6">
      <h5>Christine Horowitz, <em>Assistant Property Manager</em></h5>
      <p>
        Ms Horowitz is responsible for advertising units, negotiating lease terms, performing tenant screenings, acting as liaison between tenants and the company, collecting rent on a monthly basis and handling late payments in a timely manner. She also maintains property by addressing tenant complaints, completing repairs, contracting landscaping and snow removal companies and enforcing rules of occupancy and coordinating maintenance schedule with maintenance contractors.
      </p>
      <h5>Michelle Mathe, <em>Pre & Post Closer</em></h5>
      <p>
        Ms Mathe performs a number of important tasks in the settlement of all real estate transactions. She works with the settlement agents  to ensure there are no problems such as undisclosed liens, boundary disputes or errors in public records that could affect the transaction or the buyer’s rights in the future and helps coordinate all financing for each closing.
      </p>
      <h5>Yizhu Chen, <em>Pre & Post Closer</em></h5>
      <p>
        Mr Chen is the first point of contact: dealing with correspondence and phone calls. managing diaries and organising meetings and appointments, often controlling access to the manager/executive. booking and arranging travel, transport and accommodation. organising events and conferences.
      </p>
    </div>
  </div>


  <div class="row" style="margin-top: 15px">

  </div>
  <div class="row" style="margin-top: 15px">

  </div>
  <div class="row" style="margin-top: 15px">

  </div>
  <div class="row" style="margin-top: 15px">
    <div>

    </div>


  </div>
  <div class="row" style="margin-top: 15px">
    <div>

    </div>

  </div>
  <div class="row" style="margin-top: 15px">
    <div>

    </div>

  </div>
</div>

<footer>
    <% include ../partials/footer %>
</footer>
