<!DOCTYPE html>
<html>
<head>
  <title>Multi-Family</title>
  <% include ../partials/head %>
  <script src="../js/shapesSlideshows.js"></script>
</head>
</html>

<header>
  <% include ../partials/header %>
</header>

<div class="container" style="margin-top:30px; margin-bottom:50px">
  <h1 class="text-center">Multi Family Properties</h1>
</div>
<div class="container">
  <h2>Overview</h2>
  <h5>The Park at Whispering Pines</h5>
  <em>143 Units - Daphne, Alabama</em>
  <p>
    The Park at Whispering Pines is a 2009 construction, Class A community with modern amenities located in Daphne, approximately 10 miles from downtown Mobile.  This project offers the opportunity to build another 120 units on land that is included in the purchase price of $18.9 M.
  </p>
  <h5>Crestview Apartmentst</h5>
  <em>125 Units - Nashville, Tennessee</em>
  <p>
    Crestivew is a 125-unit apartment completed in 1970.  The property is located in Nashville, TN in the Southeastern sub-market. The property is located approximately 2 miles from the Nashville International Airport  SMP intends to acquire the property in December, 2015.
  </p>
  <h5>Terrace Hill Apartmentts</h5>
  <em>106 Units - Nashville, Tennessee</em>
  <p>
    Terrace Hill is adjacent to Crestview in the same Nashville sub-market.  SMP intends to acquire the property in October 2015.
  </p>
  <h5>Crestview/Terrace Hill Opportunity</h5>
  <p>
     A combined 231 units, these two communities are adjacent, of similar vintage and in need of upgrading (both interior refurbishing plus exterior curb appeal upgrades) and operational efficiencies through joint property management.  Combined, Crestview and Terrace Hill provide 231 units of very affordable housing in an extremely strong sub-market of Nashville.  These two properties will be rebranded and operated as one complex thereby producing economies of scale and strong NOI growth.
  </p>
  <h5>Georgia Green Apartments</h5>
  <em>164 Units - Athens, Georgia </em>
  <p>
    Georgia Green is a 164-unit apartment completed in 1986. The property is approximately 2 miles from the University of Georgia, about 1 mile off US 441 and proximate to major employers.  The property’s interiors have all be refurbished throughout but SMP will spend about $250k on exterior maintenance items (Clubhouse, Parking lot, Pool, Landscape, etc). SMP intends to raise occupancy to market levels (+/-95%) and continue to raise rents on existing leases and new leases to market rates. The average current lease is 14% below the rental rates being signed for new leases.
  </p>
</div>



<footer>
    <% include ../partials/footer %>
</footer>
