<!DOCTYPE html>
<html>
<head>
  <title>Single-Family</title>
  <% include ../partials/head %>
  <script src="../js/hiphopSlideshows.js"></script>
</head>
</html>

<header>
  <% include ../partials/header %>
</header>

<!-- ALMANAC -->
<div class="w3-container w3-padding-32">
  <div class="w3-content">
    <div class="w3-container w3-center">
      <h1>SINGLE-FAMILY PROPERTIES</h1>
      <hr />
      <p>
        Baltimore
      </p>
    </div>
    <div class="w3-panel w3-yellow w3-display-container">
      <span onclick="this.parentElement.style.display='none'" class="w3-button w3-small w3-yellow w3-large w3-display-topright">&times;</span>
      <p>Note</p>
    </div>
  </div>
</div>

<footer>
    <% include ../partials/footer %>
</footer>
